{% load blog_tags %}
<div class="card">
  <div class="card-header row justify-content-between">
    <div class="col-5 card-title">Статьи</div>
    <span class="col-1 badge bg-dark">{% total_posts %}</span>
  </div>
  <div class="card-body">
    <ul class="list-group">
      {% for category in categories %}
      <li class="list-group-item border-0 p-0">
        <a href="{{ category.get_absolute_url  }}"
          ><i class="fe fe-chevron-right"></i> {{ category.name }}</a
        >
        <span class="product-label">{{ category.num_posts }}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
