<div class="card">
  <form action="{% url 'blog:post_search' %}" method="get">
    <div class="card-body">
      <div class="input-group">
        <input
          type="text"
          class="form-control border-end-0"
          placeholder="Поиск ..."
          name="query"
        />
        <button
          class="btn input-group-text bg-transparent border-start-0 text-muted"
        >
          <i class="fe fe-search" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </form>
</div>
