<div class="card">
  <form action="{% url 'blog:post_search' %}" method="get">
    <div class="card-body">
      <div class="input-group">
        <input 
          type="text"
          class="form-control border-end-0 my-2"
          name="query"
          placeholder="Поиск ...">
        <button class="btn input-group-text bg-transparent border-start-0 text-muted my-2">
            <i class="fe fe-search text-muted" aria-hidden="true"></i>
        </button>
        <ul class="nav item2-gl-menu float-end my-2">
          <li class="border-end"><a href="#tab-11" class="show active" data-bs-toggle="tab" title="List style"><i class="fa fa-th"></i></a></li>
          <li><a href="#tab-12" data-bs-toggle="tab" class="" title="Grid"><i class="fa fa-list"></i></a></li>
        </ul>
      </div>
    </div>
  </form>
</div>
