<div class="card">
  <form action="{% url 'blog:post_search' %}" method="get">
    <div class="card-body">
      <div class="input-group">
        <input 
          type="text"
          class="form-control border-end-0 my-2"
          name="query"
          placeholder="Поиск ...">
        <button class="btn input-group-text bg-transparent border-start-0 text-muted my-2">
            <i class="fe fe-search text-muted" aria-hidden="true"></i>
        </button>
        {% if request.user.is_staff %}
        <ul class="nav item2-gl-menu float-end my-2">
          <li class="border-end"><a href="{% url 'blog:post_create' %}" class="show active"><i class="fa fa-plus"></i></a></li>
        </ul>
        {% endif %}
      </div>
    </div>
  </form>
</div>
