{% extends 'includes/base.html' %}
{% block title %}
  READ MORE | Интернет магазин | Оформление заказа
{% endblock %}
{% load static %}
{% block content %}
  <div class="main-content app-content mt-0">
    <div class="side-app">
      <!-- CONTAINER -->
      <div class="main-container container-fluid">
        <!-- PAGE-HEADER -->
        <div class="page-header">
          <h1 class="page-title">Оформление заказа</h1>
          <div>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">ExView</a>
              </li>
              <li class="breadcrumb-item" aria-current="page">
                <a href="javascript:void(0)">Интернет магазин</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page"></li>
            </ol>
          </div>
        </div>
        <!-- PAGE-HEADER END -->

        <!-- CONTENT -->
        <div class="row">
          <div class="col-xl-8 col-md-12">
            <!-- FORM ORDER -->
            <form action="{% url 'orders:order_create' %}" method="post">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Контактная форма</h3>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-6 col-md-6">
                      <div class="form-group">
                        <label for="id_first_name" class="form-label">{{ _('first name')|capfirst }}<span class="text-red">*</span></label>
                        <input type="text" name="first_name" maxlength="50" required id="id_first_name" class="form-control" placeholder="{{ form.first_name.help_text }}" />
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                      <div class="form-group">
                        <label for="id_last_name" class="form-label">{{ _('last name')|capfirst }}<span class="text-red">*</span></label>
                        <input type="text" name="last_name" maxlength="50" required id="id_last_name" class="form-control" placeholder="{{ form.last_name.help_text }}" />
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="id_email" class="form-label">{{ _('email')|capfirst }}<span class="text-red">*</span></label>
                        <input type="email" name="email" maxlength="254" required id="id_email" class="form-control" placeholder="{{ form.email.help_text }}" />
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                      <div class="form-group">
                        <label for="id_city" class="form-label">{{ _('city')|capfirst }}<span class="text-red">*</span></label>
                        <input type="text" name="city" maxlength="100" required id="id_city" class="form-control" placeholder="{{ form.city.help_text }}" />
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                      <div class="form-group">
                        <label for="id_postal_code" class="form-label">{{ _('postal code')|capfirst }}<span class="text-red">*</span></label>
                        <input type="number" name="postal_code" maxlength="50" required id="id_postal_code" class="form-control" placeholder="{{ form.postal_code.help_text }}" />
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="id_address" class="form-label">{{ _('address')|capfirst }}<span class="text-red">*</span></label>
                        <input type="text" name="address" maxlength="250" required id="id_address" class="form-control" placeholder="{{ form.address.help_text }}" />
                      </div>
                    </div>
                  </div>
                </div>
                {% csrf_token %}
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Оформить</button>
                </div>
              </div>
            </form>
            <!-- PAID INFORMATION -->
            {% comment %} {% include 'orders/includes/paid_inform.html' %} {% endcomment %}
          </div>
          
          <div class="col-xl-4 col-md-12">
            <!-- USERS DATA -->
            {% comment %} {% include 'orders/includes/users_data.html' %} {% endcomment %}
            <!-- USER ORDER -->
            <div class="card cart">
              <div class="card-header">
                <h3 class="card-title">Ваш заказ</h3>
              </div>
              <div class="card-body">
                {% for item in cart %}
                  {% with product=item.product  %}
                    <div class="mt-1">
                      <div class="d-flex">
                        <img class="avatar-xxl br-7" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "images/nophoto.png" %}{% endif %}" alt="img" />
                        <div class="ms-3">
                          <h4 class="mb-1 fw-semibold fs-14"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>
                          <div class="text-warning fs-14">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <i class="fa fa-star-o"></i>
                          </div>
                          <p>Количество: {{ item.quantity }}</p>
                        </div>
                        <div class="ms-auto">
                          <span class="fs-15 fw-semibold text-info">{{ product.price }}₽</span>
                        </div>
                      </div>
                    </div>
                  {% endwith %}
                {% endfor %}
                <ul class="list-group border br-7 mt-5">
                  <li class="list-group-item border-0">
                    Стоимость
                    <span class="h6 fw-bold mb-0 float-end">{{ cart.get_total_price }} ₽</span>
                  </li>
                  <li class="list-group-item border-0">
                    Скидка
                    <span class="h6 fw-bold mb-0 float-end">{{ cart.coupon.discount }}%</span>
                  </li>
                  <li class="list-group-item border-0">
                    Доставка
                    <span class="h6 fw-bold mb-0 float-end">Free</span>
                  </li>
                  <li class="list-group-item border-0">
                    Итого
                    <span class="h4 fw-bold mb-0 float-end">{{ cart.get_total_price_after_discount|floatformat:0 }} ₽</span>
                  </li>
                </ul>
              </div>
              <div class="card-footer text-end">
                <input type="button" class="btn btn-primary" value="Оформить" id="click-payment" />
              </div>
            </div>
          </div>
        </div>
        <!-- ROW-1 CLOSED -->
      </div>
      <!-- CONTAINER CLOSED -->
    </div>
  </div>
{% endblock %}
