<div class="row">
  <div class="col-12 col-sm-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title mb-0">Заказы</h3>
      </div>
      <div class="card-body pt-4">
        <div class="grid-margin">
          <div class="">
            <div class="panel panel-primary">
              <div class="tab-menu-heading border-0 p-0">
                <div class="tabs-menu1">
                  <!-- Tabs -->
                  <ul class="nav panel-tabs product-sale">
                    <li>
                      <a href="#tab5" class="active" data-bs-toggle="tab">Все заказы</a>
                    </li>
                    <li>
                      <a href="#tab6" data-bs-toggle="tab" class="text-dark">Оплаченые</a>
                    </li>
                    <li>
                      <a href="#tab7" data-bs-toggle="tab" class="text-dark">Не оплаченные</a>
                    </li>
                    <li>
                      <a href="#tab8" data-bs-toggle="tab" class="text-dark">Отмененные</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="panel-body tabs-menu-body border-0 pt-0">
                <div class="tab-content">
                  <div class="tab-pane active" id="tab5">
                    <div class="table-responsive">
                      <table id="data-table" class="table table-bordered text-nowrap mb-0">
                        <thead class="border-top">
                          <tr>
                            <th class="bg-transparent border-bottom-0" style="width: 5%;">Номер</th>
                            <th class="bg-transparent border-bottom-0">Заказчик</th>
                            <th class="bg-transparent border-bottom-0">Дата</th>
                            <th class="bg-transparent border-bottom-0">Сумма</th>
                            <th class="bg-transparent border-bottom-0">Способ оплаты</th>
                            <th class="bg-transparent border-bottom-0" style="width: 10%;">Статус</th>
                            <th class="bg-transparent border-bottom-0" style="width: 5%;">Действия</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for order in orders %}
                            <tr class="border-bottom">
                              <td class="text-center">
                                <div class="mt-0 mt-sm-2 d-block">
                                  <h6 class="mb-0 fs-14 fw-semibold">{{ order.id }}</h6>
                                </div>
                              </td>
                              <td>
                                <div class="d-flex">
                                  <div class="mt-0 mt-sm-3 d-block">
                                    <h6 class="mb-0 fs-14 fw-semibold">{{ order.get_full_name }}</h6>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <span class="mt-sm-2 d-block">{{ order.created }}</span>
                              </td>
                              <td>
                                <span class="fw-semibold mt-sm-2 d-block">{{ order.get_total_cost }}</span>
                              </td>
                              <td>
                                <div class="d-flex">
                                  <div class="mt-0 mt-sm-3 d-block">
                                    <h6 class="mb-0 fs-14 fw-semibold">Online Payment</h6>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <div class="mt-sm-1 d-block">
                                  <span class="badge bg-success-transparent rounded-pill text-success p-2 px-3">{{ order.paid }}</span>
                                </div>
                              </td>
                              <td>
                                <div class="g-2">
                                  <a class="btn text-primary btn-sm" data-bs-toggle="tooltip" data-bs-original-title="Edit"><span class="fe fe-edit fs-14"></span></a>
                                  <a class="btn text-danger btn-sm" data-bs-toggle="tooltip" data-bs-original-title="Delete"><span class="fe fe-trash-2 fs-14"></span></a>
                                </div>
                              </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="tab-pane" id="tab6">
                    <div class="table-responsive">
                      <table class="table table-bordered text-nowrap mb-0">
                        <thead class="border-top">
                          <tr>
                            <th class="bg-transparent border-bottom-0" style="width: 5%;">Номер</th>
                            <th class="bg-transparent border-bottom-0">Заказчик</th>
                            <th class="bg-transparent border-bottom-0">Дата</th>
                            <th class="bg-transparent border-bottom-0">Сумма</th>
                            <th class="bg-transparent border-bottom-0">Способ оплаты</th>
                            <th class="bg-transparent border-bottom-0" style="width: 10%;">Статус</th>
                            <th class="bg-transparent border-bottom-0" style="width: 5%;">Действия</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for order in paid_orders %}
                            <tr class="border-bottom">
                              <td class="text-center">
                                <div class="mt-0 mt-sm-2 d-block">
                                  <h6 class="mb-0 fs-14 fw-semibold">{{ order.id }}</h6>
                                </div>
                              </td>
                              <td>
                                <div class="d-flex">
                                  <div class="mt-0 mt-sm-3 d-block">
                                    <h6 class="mb-0 fs-14 fw-semibold">{{ order.get_full_name }}</h6>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <span class="mt-sm-2 d-block">{{ order.created }}</span>
                              </td>
                              <td>
                                <span class="fw-semibold mt-sm-2 d-block">{{ order.get_total_cost }}</span>
                              </td>
                              <td>
                                <div class="d-flex">
                                  <div class="mt-0 mt-sm-3 d-block">
                                    <h6 class="mb-0 fs-14 fw-semibold">Online Payment</h6>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <div class="mt-sm-1 d-block">
                                  <span class="badge bg-success-transparent rounded-pill text-success p-2 px-3">{{ order.paid }}</span>
                                </div>
                              </td>
                              <td>
                                <div class="g-2">
                                  <a class="btn text-primary btn-sm" data-bs-toggle="tooltip" data-bs-original-title="Edit"><span class="fe fe-edit fs-14"></span></a>
                                  <a class="btn text-danger btn-sm" data-bs-toggle="tooltip" data-bs-original-title="Delete"><span class="fe fe-trash-2 fs-14"></span></a>
                                </div>
                              </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="tab-pane" id="tab7">
                    <div class="table-responsive">
                      <table class="table table-bordered text-nowrap mb-0">
                        <thead class="border-top">
                          <tr>
                            <th class="bg-transparent border-bottom-0" style="width: 5%;">Номер</th>
                            <th class="bg-transparent border-bottom-0">Заказчик</th>
                            <th class="bg-transparent border-bottom-0">Дата</th>
                            <th class="bg-transparent border-bottom-0">Сумма</th>
                            <th class="bg-transparent border-bottom-0">Способ оплаты</th>
                            <th class="bg-transparent border-bottom-0" style="width: 10%;">Статус</th>
                            <th class="bg-transparent border-bottom-0" style="width: 5%;">Действия</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for order in nopaid_orders %}
                            <tr class="border-bottom">
                              <td class="text-center">
                                <div class="mt-0 mt-sm-2 d-block">
                                  <h6 class="mb-0 fs-14 fw-semibold">{{ order.id }}</h6>
                                </div>
                              </td>
                              <td>
                                <div class="d-flex">
                                  <div class="mt-0 mt-sm-3 d-block">
                                    <h6 class="mb-0 fs-14 fw-semibold">{{ order.get_full_name }}</h6>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <span class="mt-sm-2 d-block">{{ order.created }}</span>
                              </td>
                              <td>
                                <span class="fw-semibold mt-sm-2 d-block">{{ order.get_total_cost }}</span>
                              </td>
                              <td>
                                <div class="d-flex">
                                  <div class="mt-0 mt-sm-3 d-block">
                                    <h6 class="mb-0 fs-14 fw-semibold">Online Payment</h6>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <div class="mt-sm-1 d-block">
                                  <span class="badge bg-success-transparent rounded-pill text-success p-2 px-3">{{ order.paid }}</span>
                                </div>
                              </td>
                              <td>
                                <div class="g-2">
                                  <a class="btn text-primary btn-sm" data-bs-toggle="tooltip" data-bs-original-title="Edit"><span class="fe fe-edit fs-14"></span></a>
                                  <a class="btn text-danger btn-sm" data-bs-toggle="tooltip" data-bs-original-title="Delete"><span class="fe fe-trash-2 fs-14"></span></a>
                                </div>
                              </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="tab-pane" id="tab8">
                    <div class="table-responsive">
                      <table class="table table-bordered text-nowrap mb-0">
                        <thead class="border-top">
                          <tr>
                            <th class="bg-transparent border-bottom-0" style="width: 5%;">Номер</th>
                            <th class="bg-transparent border-bottom-0">Заказчик</th>
                            <th class="bg-transparent border-bottom-0">Дата</th>
                            <th class="bg-transparent border-bottom-0">Сумма</th>
                            <th class="bg-transparent border-bottom-0">Способ оплаты</th>
                            <th class="bg-transparent border-bottom-0" style="width: 10%;">Статус</th>
                            <th class="bg-transparent border-bottom-0" style="width: 5%;">Действия</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for order in orders %}
                            <tr class="border-bottom">
                              <td class="text-center">
                                <div class="mt-0 mt-sm-2 d-block">
                                  <h6 class="mb-0 fs-14 fw-semibold">{{ order.id }}</h6>
                                </div>
                              </td>
                              <td>
                                <div class="d-flex">
                                  <div class="mt-0 mt-sm-3 d-block">
                                    <h6 class="mb-0 fs-14 fw-semibold">{{ order.get_full_name }}</h6>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <span class="mt-sm-2 d-block">{{ order.created }}</span>
                              </td>
                              <td>
                                <span class="fw-semibold mt-sm-2 d-block">{{ order.get_total_cost }}</span>
                              </td>
                              <td>
                                <div class="d-flex">
                                  <div class="mt-0 mt-sm-3 d-block">
                                    <h6 class="mb-0 fs-14 fw-semibold">Online Payment</h6>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <div class="mt-sm-1 d-block">
                                  <span class="badge bg-success-transparent rounded-pill text-success p-2 px-3">{{ order.paid }}</span>
                                </div>
                              </td>
                              <td>
                                <div class="g-2">
                                  <a class="btn text-primary btn-sm" data-bs-toggle="tooltip" data-bs-original-title="Edit"><span class="fe fe-edit fs-14"></span></a>
                                  <a class="btn text-danger btn-sm" data-bs-toggle="tooltip" data-bs-original-title="Delete"><span class="fe fe-trash-2 fs-14"></span></a>
                                </div>
                              </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
