{% load static %}
<div class="card">
	<a href="{% url 'blog:post_detail' post.id %}"><img class="card-img-top" src="{% static 'images/media/13.jpg' %}"></a>
	<div class="card-body d-flex flex-column">
			<h3><a href="{% url 'blog:post_detail' post.id %}">{{ post.title }}</a></h3>
			<div class="text-muted">{{ post.body|truncatewords:30|linebreaks }}</div>
			<div class="d-flex align-items-center pt-5 mt-auto">
					<div class="avatar brround avatar-md me-3 cover-image" data-bs-image-src="{% static 'images/users/18.jpg' %}"></div>
					<div>
							<a href="profile.html" class="text-default">{{ post.author }}</a>
							<small class="d-block text-muted">{{ post.publish }}</small>
					</div>
					<div class="ms-auto">
							<a href="javascript:void(0)" class="icon d-none d-md-inline-block text-muted"><i class="fe fe-heart me-1 border brround"></i></a>
							<a href="javascript:void(0)" class="icon d-none d-md-inline-block text-muted"><i class="fa fa-thumbs-o-up border brround"></i></a>
					</div>
			</div>
	</div>
</div>
