{% extends 'includes/base.html' %}
{% block title %}READ MORE | Закладки | {{ image.title }}{% endblock %} 
{% block content %}
{% load static %}
{% load humanize %}
{% load comment_filter %}
{% load thumbnail %}
{% load blog_tags %}
<div class="main-content app-content mt-0">
  <div class="side-app">

      <!-- CONTAINER -->
    <div class="main-container">

        <!-- PAGE-HEADER -->
      <div class="page-header">
        
        <h1 class="page-title">{{ image.title }}</h1>
        <div>
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'vookmarks:list' %}">Закладки</a></li>
          </ol>
        </div>
      </div>
        <!-- PAGE-HEADER END -->

      <div class="row">
        <div class="col-xl-8">
          <div class="card">
              {% thumbnail image.image "500x300" as im %}
              <img class="card-img-top " src="{{ im.url }}" alt="Card image cap">
              {% endthumbnail %}
              <div class="card-body">
                <div class="d-md-flex">
                  <a href="#" class="d-flex me-4 mb-2"><i class="fe fe-calendar fs-16 me-1 p-3 bg-secondary-transparent text-secondary bradius"></i>
                      <div class="mt-0 mt-3 ms-1 text-muted font-weight-semibold">{{ image.created }}</div>
                  </a>
                  <a href="#" class="d-flex mb-2"><i class="fe fe-user fs-16 me-1 p-3 bg-primary-transparent text-primary bradius"></i>
                      <div class="mt-0 mt-3 ms-1 text-muted font-weight-semibold">{{ image.user.username }}</div>
                  </a>
                  <div class="ms-auto">
                    <a href="javascript:void(0);" class="d-flex mb-2"><i class="fe fe-eye fs-16 me-1 p-3 bg-success-transparent text-success bradius"></i>
                        <div class="mt-0 mt-3 ms-1 text-muted font-weight-semibold">
                            0 просмотров 
                        </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <h3 class="py-2"><a href="javascript:void(0)">{{ image.title }}</a></h3>
                <p class="card-text">{{ image.description|linebreaks }}</p>
                <div class="card-footer user-pro-2">
                  <div class="media mt-0">
                      {% with total_likes=image.users_like.count users_like=image.users_like.all  %}
                        <div class="media-user me-2">
                          <div class="avatar-list avatar-list-stacked">
                            <span class="avatar brround text-primary my-total">{{ total_likes }}</span>
                          </div>
                        </div>
                        <div class="media-body">
                            <h6 class="mb-0 mt-2 ms-2">
                              нравится
                            </h6>
                        </div>
                        <div class="ms-auto">
                            <div class="d-flex mt-1">
                              <a href="#" data-id="{{ image.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like button">
                                {% if request.user not in users_like %}
                                <i data-id="{{ image.id }}" class="fa fa-heart-o"></i>
                                {% else %}
                                <i data-id="{{ image.id }}" class="fa fa-heart"></i>
                                {% endif %}
                              </a>
                            </div>
                        </div>
                      {% endwith %}
                  </div>
              </div>
              </div>
          </div>
        </div>
        <div class="col-xl-4">
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block domready %}
  const url = '{% url "vookmarks:like" %}';
  let options = {
    method: 'POST',
    headers: {'X-CSRFToken': csrftoken},
    mode: 'same-origin'
  }

  document.querySelector('a.like')
          .addEventListener('click', (e) => {
    e.preventDefault();
    const likeButton = e.currentTarget;

    // добавить тело запроса
    const formData = new FormData();
    formData.append('id', likeButton.dataset.id);
    formData.append('action', likeButton.dataset.action);
    options.body = formData;

    // отправить HTTP-запрос
    fetch(url, options)
      .then(data => {
        if (data.ok)
        {
          const previousAction = likeButton.dataset.action  ;

          // переключить текст кнопки и атрибут data-action
          const action = previousAction === 'like' ? 'unlike' : 'like';
          likeButton.dataset.action = action;
          likeButton.innerHTML = action === 'like' ? '<i class="fa fa-heart-o"></i>' : '<i class="fa fa-heart"></i>';

          // обновить количество лайков
          const likeCount = document.querySelector('.my-total');
          if (previousAction === 'like')
          {
            let totalLikes = parseInt(likeCount.innerHTML);
            likeCount.innerHTML = totalLikes + 1;
          }
          else
          {
            const totalLikes = parseInt(likeCount.innerHTML);
            likeCount.innerHTML = totalLikes - 1;
          }
        }
      });
  });
{% endblock %}
