{% load humanize %}
{% with author=action.author %}
<div class="col-xl-4 col-md-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title fw-semibold">Активность за сегодня</h4>
    </div>
    <div class="card-body pb-0">
      <ul class="task-list">
        {% for action in actions %}
        <li class="d-sm-flex">
          <div>
            <i class="task-icon bg-primary"></i>
            <h6 class="fw-semibold">{{ user.username|capfirst }}<span class="text-muted fs-11 mx-2 fw-normal">{{ action.created|naturaltime }}</span></h6>
            {% with target=action.target %}
            <p class="text-muted fs-12">
              {{ action.verb }}<a href="{{ target.get_absolute_url }}" class="fw-semibold"> {{ target|truncatechars:30 }}</a>
            </p>
            {% endwith %}
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    <a href="#" class="dropdown-item text-center p-3 text-muted">Посмотреть всю активность</a>
  </div>
</div>
{% endwith %}