<div class="card">
  <div class="card-header">
    <div class="card-title">Добавить комментарий</div>
  </div>
  <div class="card-body">
    <form
      class="form-horizontal m-t-20"
      action="{% url 'reviews:create_review' product_content_type.id product.id %}"
      method="post"
    >
      <div class="form-group">
        <div class="col-xs-12">
          <textarea
            class="form-control"
            rows="5"
            required=""
            placeholder="Ваш комментарий*"
            name="comment"
            id="id_comment"
          ></textarea>
        </div>
      </div>
      {% csrf_token %}
      <div class="">
        <p>
          <input
            type="submit"
            class="btn btn-primary btn-rounded waves-effect waves-light"
            value="Отправить"
          />
        </p>
      </div>
    </form>
  </div>
</div>
