<div class="card">
  <div class="card-header">
    <div class="card-title">Categories</div>
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item border-0 p-0">
        <a href="javascript:void(0)"><i class="fe fe-chevron-right"></i> Mens</a><span class="product-label">22</span>
      </li>
      <li class="list-group-item border-0 p-0">
        <a href="javascript:void(0)"><i class="fe fe-chevron-right"></i> Womens</a><span class="product-label">15</span>
      </li>
      <li class="list-group-item border-0 p-0">
        <a href="javascript:void(0)"><i class="fe fe-chevron-right"></i> Kids</a><span class="product-label">10</span>
      </li>
      <li class="list-group-item border-0 p-0">
        <a href="javascript:void(0)"><i class="fe fe-chevron-right"></i> Others</a><span class="product-label">88</span>
      </li>
    </ul>
  </div>
</div>
