<div class="col-xl-12 col-md-12">
  <div class="card">
    <div class="card-header">
      <div class="card-title">Клиентский сервис</div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-xl-4">
          <div class="customer-services mb-2">
            <div class="icon-content">
              <span><i class="bi bi-truck"></i></span>
              <h4>Бесплатная доставка</h4>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has.</p>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="customer-services mb-2">
            <div class="icon-content">
              <span><i class="bi bi-arrow-repeat"></i></span>
              <h4>Пожизненная гарантия</h4>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has.</p>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="customer-services">
            <div class="icon-content">
              <span><i class="bi bi-credit-card-2-front"></i></span>
              <h4>Оплата без комиссии</h4>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
