<div class="card">
  <div class="card-body">
    <div class="form-group">
      <label class="form-label">Category</label>
      <select name="beast" id="select-beast" class="form-control form-select select2">
        <option value="0">--Select--</option>
        <option value="1">Dress</option>
        <option value="2">Bags &amp; Purses</option>
        <option value="3">Coat &amp; Jacket</option>
        <option value="4">Beauty</option>
        <option value="5">Jeans</option>
        <option value="5">Jewellery</option>
        <option value="5">Electronics</option>
        <option value="5">Sports</option>
        <option value="5">Technology</option>
        <option value="5">Watches</option>
        <option value="5">Accessories</option>
      </select>
    </div>
    <div class="form-group">
      <label class="form-label">Brand</label>
      <select name="beast" id="select-beast1" class="form-control form-select select2">
        <option value="0">--Select--</option>
        <option value="1">White</option>
        <option value="2">Black</option>
        <option value="3">Red</option>
        <option value="4">Green</option>
        <option value="5">Blue</option>
        <option value="6">Yellow</option>
      </select>
    </div>
    <div class="form-group">
      <label class="form-label">Type</label>
      <select name="beast" id="select-beast2" class="form-control form-select select2">
        <option value="0">--Select--</option>
        <option value="1">Extra Small</option>
        <option value="2">Small</option>
        <option value="3">Medium</option>
        <option value="4">Large</option>
        <option value="5">Extra Large</option>
      </select>
    </div>
    <div class="form-group">
      <label class="form-label">Color</label>
      <select name="beast" id="select-beast3" class="form-control form-select select2">
        <option value="0">--Select--</option>
        <option value="1">White</option>
        <option value="2">Black</option>
        <option value="3">Red</option>
        <option value="4">Green</option>
        <option value="5">Blue</option>
        <option value="6">Yellow</option>
      </select>
    </div>
  </div>
</div>
