<div class="card">
    <div class="card-header">
      <div class="card-title">Price Range</div>
    </div>
    <div class="card-body">
      <label class="custom-control custom-radio mb-0 mt-1">
        <input type="radio" class="custom-control-input" name="example-radios" value="option1" checked />
        <span class="custom-control-label">Upto $500</span>
      </label>
      <label class="custom-control custom-radio mb-0 mt-1">
        <input type="radio" class="custom-control-input" name="example-radios" value="option1" />
        <span class="custom-control-label">$500 - $1000</span>
      </label>
      <label class="custom-control custom-radio mb-0 mt-1">
        <input type="radio" class="custom-control-input" name="example-radios" value="option1" />
        <span class="custom-control-label">$1000 - $1500</span>
      </label>
      <label class="custom-control custom-radio mb-0 mt-1">
        <input type="radio" class="custom-control-input" name="example-radios" value="option1" />
        <span class="custom-control-label">Over $2000</span>
      </label>
      <div class="d-flex">
        <div class="card-body px-0">
          <div id="mySlider"></div>
        </div>
      </div>
    </div>
  </div>
  