{% load static %}
<h3 class="p-3 mb-5">Еще может подойти</h3>
<div class="col-md-6 col-xl-3">
    <div class="card">
        <div class="product-grid6">
            <div class="product-image6 p-5">
                <ul class="icons">
                    <li>
                        <a href="shop-description.html" class="btn btn-primary"> <i class="fe fe-eye ">  </i> </a>
                    </li>
                    <li><a href="add-product.html" class="btn btn-success"><i  class="fe fe-edit"></i></a></li>
                    <li><a href="javascript:void(0)" class="btn btn-danger"><i class="fe fe-x"></i></a></li>
                </ul>
                <a href="shop-description.html" class="bg-light">
                    <img class="img-fluid br-7 w-100" src="{% static 'images/pngs/4.jpg' %}" alt="img">
                </a>
            </div>
            <div class="card-body pt-0">
                <div class="product-content text-center">
                    <h1 class="title fw-bold fs-20"><a href="shop-description.html">Flower Pot for Home Decor</a></h1>
                    <div class="mb-2 text-warning">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-half-o text-warning"></i>
                        <i class="fa fa-star-o text-warning"></i>
                    </div>
                    <div class="price">$16,599<span class="ms-4">$18,299</span>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <a href="cart.html"><button type="button" class="btn btn-primary mb-1"><i class="fe fe-shopping-cart mx-2"></i>Add to cart</button></a>
                <a href="wishlist.html"><button type="button" class="btn btn-outline-primary mb-1"><i class="fe fe-heart mx-2"></i>Add to wishlist</button></a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6 col-xl-3">
    <div class="card">
        <div class="product-grid6">
            <div class="product-image6 p-5">
                <ul class="icons">
                    <li>
                        <a href="shop-description.html" class="btn btn-primary"> <i class="fe fe-eye ">  </i> </a>
                    </li>
                    <li><a href="add-product.html" class="btn btn-success"><i  class="fe fe-edit"></i></a></li>
                    <li><a href="javascript:void(0)" class="btn btn-danger"><i class="fe fe-x"></i></a></li>
                </ul>
                <a href="shop-description.html" class="bg-light">
                    <img class="img-fluid br-7 w-100" src="{% static 'images/pngs/6.jpg' %}" alt="img">
                </a>
            </div>
            <div class="card-body pt-0">
                <div class="product-content text-center">
                    <h1 class="title fw-bold fs-20"><a href="shop-description.html">Black Digital Camera</a></h1>
                    <div class="mb-2 text-warning">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-half-o text-warning"></i>
                        <i class="fa fa-star-o text-warning"></i>
                    </div>
                    <div class="price">$16,599<span class="ms-4">$56,599</span>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <a href="cart.html"><button type="button" class="btn btn-primary mb-1"><i class="fe fe-shopping-cart mx-2"></i>Add to cart</button></a>
                <a href="wishlist.html"><button type="button" class="btn btn-outline-primary mb-1"><i class="fe fe-heart mx-2"></i>Add to wishlist</button></a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6 col-xl-3">
    <div class="card">
        <div class="product-grid6">
            <div class="product-image6 p-5">
                <ul class="icons">
                    <li>
                        <a href="shop-description.html" class="btn btn-primary"> <i class="fe fe-eye ">  </i> </a>
                    </li>
                    <li><a href="add-product.html" class="btn btn-success"><i  class="fe fe-edit"></i></a></li>
                    <li><a href="javascript:void(0)" class="btn btn-danger"><i class="fe fe-x"></i></a></li>
                </ul>
                <a href="shop-description.html" class="bg-light">
                    <img class="img-fluid br-7 w-100" src="{% static 'images/pngs/9.jpg' %}" alt="img">
                </a>
            </div>
            <div class="card-body pt-0">
                <div class="product-content text-center">
                    <h1 class="title fw-bold fs-20"><a href="shop-description.html">Candy Pure Rose Water</a></h1>
                    <div class="mb-2 text-warning">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-half-o text-warning"></i>
                        <i class="fa fa-star-o text-warning"></i>
                    </div>
                    <div class="price">$16,599<span class="ms-4">$25,599</span>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <a href="cart.html"><button type="button" class="btn btn-primary mb-1"><i class="fe fe-shopping-cart mx-2"></i>Add to cart</button></a>
                <a href="wishlist.html"><button type="button" class="btn btn-outline-primary mb-1"><i class="fe fe-heart mx-2"></i>Add to wishlist</button></a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6 col-xl-3">
    <div class="card">
        <div class="product-grid6">
            <div class="product-image6 p-5">
                <ul class="icons">
                    <li>
                        <a href="shop-description.html" class="btn btn-primary"> <i class="fe fe-eye ">  </i> </a>
                    </li>
                    <li><a href="add-product.html" class="btn btn-success"><i  class="fe fe-edit"></i></a></li>
                    <li><a href="javascript:void(0)" class="btn btn-danger"><i class="fe fe-x"></i></a></li>
                </ul>
                <a href="shop-description.html" class="bg-light">
                    <img class="img-fluid br-7 w-100" src="{% static 'images/pngs/10.jpg' %}" alt="img">
                </a>
            </div>
            <div class="card-body pt-0">
                <div class="product-content text-center">
                    <h1 class="title fw-bold fs-20"><a href="shop-description.html">White Tshirt for Men</a></h1>
                    <div class="mb-2 text-warning">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-half-o text-warning"></i>
                        <i class="fa fa-star-o text-warning"></i>
                    </div>
                    <div class="price">$16,599<span class="ms-4">$18,399</span>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <a href="cart.html"><button type="button" class="btn btn-primary mb-1"><i class="fe fe-shopping-cart mx-2"></i>Add to cart</button></a>
                <a href="wishlist.html"><button type="button" class="btn btn-outline-primary mb-1"><i class="fe fe-heart mx-2"></i>Add to wishlist</button></a>
            </div>
        </div>
    </div>
</div>