<div class="col-xl-6">
  <div class="card">
    <div class="card-header">
      <div class="card-title">Reviews</div>
    </div>
    <div class="card-body">
      <div class="media mb-5">
        <div class="me-3">
          <a href="javascript:void(0)"><img class="media-object rounded-circle thumb-sm" alt="64x64" src="../assets/images/users/5.jpg" /></a>
        </div>
        <div class="media-body">
          <h5 class="mt-0 mb-0">Gavin Murray</h5>
          <div class="text-warning mb-0">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p class="font-13 text-muted">Good Looking.........</p>
          <a class="like" href="javascript:;"><span class="badge btn-danger-light rounded-pill py-2 px-3"><i class="fe fe-heart me-1"></i>56</span></a>
          <span class="reply" id="6"><a href="javascript:;"><span class="badge btn-primary-light rounded-pill py-2 px-3"><i class="fe fe-corner-up-left me-1"></i>Reply</span></a></span>
        </div>
      </div>
      <div class="media mb-5">
        <div class="me-3">
          <a href="javascript:void(0)"><img class="media-object rounded-circle thumb-sm" alt="64x64" src="../assets/images/users/15.jpg" /></a>
        </div>
        <div class="media-body">
          <h5 class="mt-0 mb-0">Paul Smith</h5>
          <div class="text-warning mb-0">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p class="font-13 text-muted">Very nice ! On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the</p>
          <a class="like" href="javascript:;"><span class="badge btn-danger-light rounded-pill py-2 px-3"><i class="fe fe-heart me-1"></i>56</span></a>
          <span class="reply" id="6"><a href="javascript:;"><span class="badge btn-primary-light rounded-pill py-2 px-3"><i class="fe fe-corner-up-left me-1"></i>Reply</span></a></span>
        </div>
      </div>
      <div class="media mb-0">
        <div class="me-3">
          <a href="javascript:void(0)"><img class="media-object rounded-circle thumb-sm" alt="64x64" src="../assets/images/users/5.jpg" /></a>
        </div>
        <div class="media-body">
          <h5 class="mt-0 mb-0">Mozelle Belt</h5>
          <div class="text-warning mb-0">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
