<div class="col-xl-12 col-md-12">
  <div class="card productdesc">
    <div class="card-body">
      <div class="panel panel-primary">
        <div class="tab-menu-heading">
          <div class="tabs-menu1">
            <!-- Tabs -->
            <ul class="nav panel-tabs">
              <li>
                <a href="#tab5" class="active" data-bs-toggle="tab">Характеристики</a>
              </li>
              <li>
                <a href="#tab6" data-bs-toggle="tab">Размеры</a>
              </li>
              <li>
                <a href="#tab7" data-bs-toggle="tab">Особенности</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="panel-body tabs-menu-body">
          <div class="tab-content">
            <div class="tab-pane active" id="tab5">
              <h4 class="mb-5 mt-3 fw-bold">Описание :</h4>
              <p class="mb-3 fs-15">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
              <p class="mb-3 fs-15">odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia.</p>
              <h4 class="mb-5 mt-3 fw-bold">Подробные характеристики :</h4>
              <div class="table-responsive">
                <table class="table table-bordered">
                  <tr>
                    <td class="fw-bold">Упаковка</td>
                    <td>33 x 22 x 3 cm; 450 Grams</td>
                  </tr>
                  <tr>
                    <td class="fw-bold">Бренд</td>
                    <td>Chokka Production</td>
                  </tr>
                  <tr>
                    <td class="fw-bold">Категория</td>
                    <td>BNVRDMRHENFULL-Z14</td>
                  </tr>
                  <tr>
                    <td class="fw-bold">Продавец</td>
                    <td>#141 in Clothing & Accessories (See Top 100 in Clothing & Accessories)</td>
                  </tr>
                  <tr>
                    <td class="fw-bold">Отзывы</td>
                    <td>
                      <p class="text-muted float-start me-3">
                        <span class="fa fa-star text-warning"></span>
                        <span class="fa fa-star text-warning"></span>
                        <span class="fa fa-star text-warning"></span>
                        <span class="fa fa-star-half-o text-warning"></span>
                        <span class="fa fa-star-o text-warning"></span>
                        <span class="text-success fw-semibold">(2,076 оценок)</span>
                      </p>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="tab-pane pt-5" id="tab6">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <tr>
                    <td class="fw-bold">Width</td>
                    <td>6.1 inch</td>
                  </tr>
                  <tr>
                    <td class="fw-bold">Height</td>
                    <td>24 inch</td>
                  </tr>
                  <tr>
                    <td class="fw-bold">Depth</td>
                    <td>6.1 inch</td>
                  </tr>
                  <tr>
                    <td class="fw-bold">Other Dimensions</td>
                    <td>15.5*15.5*24CM</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="tab-pane" id="tab7">
              <ul class="p-5">
                <li>
                  <i class="fa fa-check me-3 text-success mb-5"></i>Asthetic Product - more lively movies and music
                </li>
                <li>
                  <i class="fa fa-check me-3 text-success mb-5"></i>Long lasting 7,040 mAH battery with fast adaptive charging
                </li>
                <li>
                  <i class="fa fa-check me-3 text-success mb-5"></i>8 MP Primary Camera, 5 MP Front Facing Camera
                </li>
                <li>
                  <i class="fa fa-check me-3 text-success mb-5"></i>Seamless apps and gaming experience with Qualcomm Snapdragon 662 processor (4X2.0 GHz+4X1.8 GHz)
                </li>
                <li>
                  <i class="fa fa-check me-3 text-success mb-5"></i>1 year manufacturer warranty for device and 6 months manufacturer warranty for in-box accessories
                </li>
                <li>
                  <i class="fa fa-check me-3 text-success"></i>Customer care :1234 567 678
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
