<div class="col-xl-12 col-md-12">
  <div class="card productdesc">
    <div class="card-body">
      <div class="panel panel-primary">
        <div class="tab-menu-heading">
          <div class="tabs-menu1">
            <!-- Tabs -->
            <ul class="nav panel-tabs">
              <li>
                <a href="#tab5" class="active" data-bs-toggle="tab">Характеристики</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="panel-body tabs-menu-body">
          <div class="tab-content">
            <div class="tab-pane active" id="tab5">
              <h4 class="mb-5 mt-3 fw-bold">Описание :</h4>
              <p class="mb-3 fs-15">{{ product.description|linebreaks }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
