<div class="card">
  <div class="card-header">
    <div class="card-title">Top Products</div>
  </div>
  <div class="card-body">
    <div class="">
      <div class="d-flex overflow-visible">
        <img class="avatar bradius avatar-xl me-4 p-2 bg-white border" src="../assets/images/pngs/8.png" alt="avatar-img" />
        <div class="media-body valign-middle">
          <a href="javascript:void(0)" class="fw-semibold text-dark">Hand Bag</a>
          <div class="mb-1 text-warning">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <h5 class="fw-bold">$345</h5>
        </div>
      </div>
      <div class="d-flex overflow-visible mt-5">
        <img class="avatar bradius avatar-xl me-4 p-2 bg-white border" src="../assets/images/pngs/5.png" alt="avatar-img" />
        <div class="media-body valign-middle">
          <a href="javascript:void(0)" class="fw-semibold text-dark">Chair</a>
          <div class="mb-1 text-warning">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <h5 class="fw-bold">$345</h5>
        </div>
      </div>
      <div class="d-flex overflow-visible mt-5">
        <img class="avatar bradius avatar-xl me-4 p-2 bg-white border" src="../assets/images/pngs/1.png" alt="avatar-img" />
        <div class="media-body valign-middle">
          <a href="javascript:void(0)" class="fw-semibold text-dark">Laptop Bag</a>
          <div class="mb-1 text-warning">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <h5 class="fw-bold">$345</h5>
        </div>
      </div>
      <div class="d-flex overflow-visible mt-5">
        <img class="avatar bradius avatar-xl me-4 p-2 bg-white border" src="../assets/images/pngs/6.png" alt="avatar-img" />
        <div class="media-body valign-middle">
          <a href="javascript:void(0)" class="fw-semibold text-dark">Watch</a>
          <div class="mb-1 text-warning">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <h5 class="fw-bold">$345</h5>
        </div>
      </div>
    </div>
  </div>
</div>
