{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

    <!-- META DATA -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>

    <!-- FAVICON -->
    <link rel="icon" href="{% static 'images/fav/fav.ico' %}" type="image" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'images/fav/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'images/fav/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'images/fav/favicon-16x16.png' %}"
    />

    <!-- TITLE -->
    <title>{% block title %}{% endblock %}</title>
    <!-- BOOTSTRAP CSS -->
    <link id="style" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- STYLE CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/dark-style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/skin-modes.css' %}" rel="stylesheet" />
    <link href="{% static 'css/transparent-style.css' %}" rel="stylesheet">

    <!--- FONT-ICONS CSS -->
    <link href="{% static 'css/icons.css' %}" rel="stylesheet" />

    <!-- COLOR SKIN CSS -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="{% static 'colors/color1.css' %}" />
</head>

<body class="login-img">

    <!-- BACKGROUND-IMAGE -->
    <div class="">

        <!-- GLOBAL-LOADER -->
        <div id="global-loader">
            <div class="spinner-lg loader-img"></div>
          </div> 
        <!-- End GLOBAL-LOADER -->

        <!-- PAGE -->
        
        <div class="page">
            <!-- PAGE-CONTENT OPEN -->
            <div class="page-content error-page error2 text-white">
                <div class="container text-center">
                    <div class="error-template">
                        {% block content %}{% endblock content %}
                    </div>
                </div>
            </div>
            <!-- PAGE-CONTENT OPEN CLOSED -->
        </div>
        <!-- End PAGE -->

    </div>

    <!-- JQUERY JS -->
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <!-- BOOTSTRAP JS -->
    <script src="{% static 'plugins/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Perfect SCROLLBAR JS-->
    <script src="{% static 'plugins/p-scroll/perfect-scrollbar.js' %}"></script>

    <!-- Color Theme js -->
    <script src="{% static 'js/themeColors.js' %}"></script>

    <!-- Sticky js -->
    <script src="{% static 'js/sticky.js' %}"></script>

    <!-- CUSTOM JS -->
    <script src="{% static 'js/custom.js' %}"></script>

</body>

</html>