{% extends 'includes/base.html' %}
{% block title %}
  ExView | Корзина
{% endblock %}
{% block content %}
  {% load static %}
  <div class="main-content app-content mt-0">
    <div class="side-app">
      <!-- CONTAINER -->
      <div class="main-container container-fluid">
        <!-- PAGE-HEADER -->
        <div class="page-header">
          <h1 class="page-title">Корзина покупок</h1>
          <div>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">ExView</a>
              </li>
              <li class="breadcrumb-item" aria-current="page">
                <a href="javascript:void(0)">Интернет магазин</a>
              </li>
            </ol>
          </div>
        </div>
        <!-- PAGE-HEADER END -->

        <!-- ROW-1 OPEN -->
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xl-8">
            <div class="card cart">
              <div class="card-header">
                <h3 class="card-title">Товары</h3>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered table-vcenter">
                    <thead>
                      <tr class="border-top">
                        <th>Товар</th>
                        <th>Название</th>
                        <th>Цена</th>
                        <th>Количество</th>
                        <th>Итого</th>
                        <th>Действия</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in cart %}
                        {% with product=item.product %}
                        <tr>
                          <td>
                            <div class="text-center">
                              <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "images/nophoto.png" %}{% endif %}" alt="" class="cart-img text-center" />
                            </div>
                          </td>
                          <td>{{ product.name }}</td>
                          <td class="fw-bold">{{ item.price }}</td>
                          <td>{{ item.quantity }}
                            {% comment %} <div class="handle-counter" id="handleCounter4">
                              <button type="button" class="counter-minus btn btn-white lh-2 shadow-none"><i class="fa fa-minus text-muted"></i></button>
                              <input type="text" value="{{ item.quantity }}" class="qty" />
                              <button type="button" class="counter-plus btn btn-white lh-2 shadow-none"><i class="fa fa-plus text-muted"></i></button>
                            </div> {% endcomment %}
                          </td>
                          <td>{{ item.total_price }}</td>
                          <td>
                            <div class="d-flex g-2">
                              <a class="btn text-secondary bg-secondary-transparent btn-icon py-1 me-2" data-bs-toggle="tooltip" data-bs-original-title="Edit"><span class="bi bi-heart fs-16"></span></a>
                              <form 
                                action="{% url "cart:cart_remove" product.id %}"
                                method="post"
                                class="btn text-danger bg-danger-transparent btn-icon py-1"
                                data-bs-toggle="tooltip"
                                data-bs-original-title="Удалить">
                                <span class="bi bi-trash fs-16" type="submit"></span>
                                {% csrf_token %}
                              </form>
                            </div>
                          </td>
                        </tr>
                        {% endwith %}
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <div class="input-group mb-1">
                      <input type="text" class="form-control" placeholder="Промокод" />
                      <span class="input-group-text btn btn-primary">Применить</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 text-end">
                    <a href="javascript:void(0)" class="btn btn-default disabled btn-md">Очистить корзину</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-xl-4 col-sm-12 col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="card-title">Ваша корзина</div>
              </div>
              <div class="card-body py-2">
                <div class="table-responsive">
                  <table class="table table-borderless text-nowrap mb-0">
                    <tbody>
                      <tr>
                        <td class="text-start">Стоимость</td>
                        <td class="text-end">
                          <span class="fw-bold ms-auto">₽ {{ cart.get_total_price }}</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-start">Сезонное предложение</td>
                        <td class="text-end">
                          <span class="fw-bold text-success">- $55</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-start">Доставка</td>
                        <td class="text-end">
                          <span class="fw-bold text-green">0 (Free)</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-start">Орг. взнос</td>
                        <td class="text-end">
                          <span class="fw-bold text-danger">+ $39</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-start">Скидка</td>
                        <td class="text-end">
                          <span class="fw-bold text-success">- $15%</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-start">Вернется бонусами</td>
                        <td class="text-end">
                          <span class="fw-bold">+ $9</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-start fs-18">Итого</td>
                        <td class="text-end">
                          <span class="ms-2 fw-bold fs-23">$568</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card-footer">
                <div class="btn-list">
                  <a href="{% url "shop:product_list" %}" class="btn btn-primary"><i class="fa fa-arrow-left me-1"></i>В магазин</a>
                  <a href="#" class="btn btn-success float-sm-end">Оформить<i class="fa fa-arrow-right ms-1"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ROW-1 CLOSED -->
      </div>
      <!-- CONTAINER CLOSED -->
    </div>
  </div>
{% endblock %}
