<div class="card">
    <div class="card-header">
      <div class="card-title">Добавить комментарий</div>
    </div>
    <div class="card-body">
      <form class="form-horizontal  m-t-20" action="{% url 'blog:post_comment' post.id %}" method='post'>
          {{ form.as_p }}
          {% csrf_token %}
          <div class="">
            <p><input type="submit" class="btn btn-primary btn-rounded  waves-effect waves-light" value="Отправить"></p>
          </div>
      </form>
    </div>
  </div>