{% load i18n %}
{% load static %}
<div class="card-header d-block text-justified pt-2">
  <div class="d-flex align-items-center justify-content-between">
    <p class="fs-15 fw-semibold mb-1 me-3">Basic</p>
    <div>
      <a href="{% url 'courses:module_update' course.id %}" class="me-2"><i class="fa fa-cubes fs-18 text-dark"></i></a>
      {% if course.modules.count > 0 %}
      <a href="{% url 'courses:content_list' course.modules.first.id %}" class="me-2"><i class="fa fa-edit fs-18 text-dark"></i></a>
      {% endif %}
      <a href="{% url 'courses:course_edit' course.id %}" class="me-2"><i class="fa fa-edit fs-18 text-dark"></i></a>
      <a href="{% url 'courses:course_delete' course.id %}" class="me-0"><i class="fa fa-trash fs-18 text-dark"></i></a>
    </div>
  </div>
  <p class="text-justify fw-semibold mb-1">
    <span class="fs-25 me-2">{{ course.title }}</span>
  </p>
  <p class="fs-10 mb-1">{{ course.overview }}</p>
  <img class="card-img-top" src="{% static 'images/dali.jpg' %}">
</div>
