{% extends 'includes/base.html' %}
{% block title %}Изменить данные{% endblock %}
{% block content %}
{% load thumbnail %}
{% load static %}
<div class="main-content app-content mt-0">
  <div class="side-app">
    <!-- CONTAINER -->
    <div class="main-container container-fluid">
      <!-- PAGE-HEADER -->
      <div class="page-header">
        <h1 class="page-title">Редактировать</h1>
        <div>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="javascript:void(0)">READ MORE</a>
            </li>
            <li class="breadcrumb-item">
              <a href="javascript:void(0)">Аккаунт</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Редактировать
            </li>
          </ol>
        </div>
      </div>
      <!-- PAGE-HEADER END -->
      {% include 'includes/check_error.html' %}
      <!-- ROW-1 OPEN -->
      <div class="row">
        <div class="col-xl-4">
          <div class="card">
            <div class="card-header">
              <div class="card-title">Изменить пароль</div>
            </div>
            <div class="card-body">
              <div class="text-center chat-image mb-5">
                <div class="avatar avatar-xxl chat-profile mb-3 brround">
                  <a class="" href="profile.html">
                    {% if user.avatar %}
                    {% thumbnail user.avatar "216x226" crop="center" upscale=True as im %}
                        <img class="brround" src="{{ im.url }}" />
                    {% endthumbnail %}
                    {% else %}
                        <img
                        class="brround"
                        src="{% static 'images/users/default-user.jpeg' %}"
                        alt="Аватар"
                        />
                    {% endif %}
                  </a>
                </div>
                <div class="main-chat-msg-name">
                  <a href="#">
                    <h5 class="mb-1 text-dark fw-semibold">
                      {{ user.get_full_name }}
                    </h5>
                  </a>
                  <p class="text-muted mt-0 mb-0 pt-0 fs-13">
                    {{ user.username }}
                  </p>
                </div>
              </div>
              {% with form_password as form %}
              <form method='post'>
                <div class="form-group">
                  {% include 'includes/cycle_forms.html' %}
                </div>
                {% csrf_token %}
                <div class="card-footer text-end">
                  <button class="btn btn-primary" type="submit" name="change-password">Изменить</button>
                </div>
              </form>
              {% endwith %}
            </div>
              
          </div>
          <div class="card panel-theme">
            <div class="card-header">
              <div class="float-start">
                <h3 class="card-title">Контакты</h3>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="card-body no-padding">
              <ul class="list-group no-margin">
                <li class="list-group-item d-flex ps-3">
                  <div class="social social-profile-buttons me-2">
                    <a
                      class="social-icon text-primary"
                      href="javascript:void(0)"
                      ><i class="fe fe-mail"></i
                    ></a>
                  </div>
                  <a href="javascript:void(0)" class="my-auto"
                    >{{ user.email }}</a
                  >
                </li>
                <li class="list-group-item d-flex ps-3">
                  <div class="social social-profile-buttons me-2">
                    <a
                      class="social-icon text-primary"
                      href="javascript:void(0)"
                      ><i class="fe fe-globe"></i
                    ></a>
                  </div>
                  <a href="javascript:void(0)" class="my-auto">www.abcd.com</a>
                </li>
                <li class="list-group-item d-flex ps-3">
                  <div class="social social-profile-buttons me-2">
                    <a
                      class="social-icon text-primary"
                      href="javascript:void(0)"
                      ><i class="fe fe-phone"></i
                    ></a>
                  </div>
                  <a href="javascript:void(0)" class="my-auto"
                    >{{ user.phone_number }}</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        
        <div class="col-xl-8">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Персональные данные</h3>
            </div>
            {% with form as form %}
            <form method='post' enctype="multipart/form-data">
              <div class="card-body">
                {% include 'includes/cycle_forms.html' %}
              </div>
              {% csrf_token %}
              <div class="card-footer text-end">
                <button type="submit" class="btn btn-dark my-1" name="save-details">
                  Обновить
                </button>
              </div>
            </form>
            {% endwith %}
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header">
                  <div class="card-title">Уведомления</div>
                </div>
                <div class="card-body">
                  <div class="form-group mg-b-10">
                    <label class="custom-switch ps-0">
                      <input
                        type="checkbox"
                        name="custom-switch-checkbox"
                        class="custom-switch-input"
                        checked=""
                      />
                      <span class="custom-switch-indicator me-3"></span>
                      <span class="custom-switch-description mg-l-10"
                        >Updates Automatically</span
                      >
                    </label>
                  </div>
                  <div class="form-group mg-b-10">
                    <label class="custom-switch ps-0">
                      <input
                        type="checkbox"
                        name="custom-switch-checkbox"
                        class="custom-switch-input"
                      />
                      <span class="custom-switch-indicator me-3"></span>
                      <span class="custom-switch-description mg-l-10"
                        >Allow Location Map</span
                      >
                    </label>
                  </div>
                  <div class="form-group mg-b-10">
                    <label class="custom-switch ps-0">
                      <input
                        type="checkbox"
                        name="custom-switch-checkbox"
                        class="custom-switch-input"
                        checked=""
                      />
                      <span class="custom-switch-indicator me-3"></span>
                      <span class="custom-switch-description mg-l-10"
                        >Show Contacts</span
                      >
                    </label>
                  </div>
                  <div class="form-group mg-b-10">
                    <label class="custom-switch ps-0">
                      <input
                        type="checkbox"
                        name="custom-switch-checkbox"
                        class="custom-switch-input"
                        checked=""
                      />
                      <span class="custom-switch-indicator me-3"></span>
                      <span class="custom-switch-description mg-l-10"
                        >Show Notfication</span
                      >
                    </label>
                  </div>
                  <div class="form-group mg-b-10">
                    <label class="custom-switch ps-0">
                      <input
                        type="checkbox"
                        name="custom-switch-checkbox"
                        class="custom-switch-input"
                      />
                      <span class="custom-switch-indicator me-3"></span>
                      <span class="custom-switch-description mg-l-10"
                        >Show Tasks Statistics</span
                      >
                    </label>
                  </div>
                  <div class="form-group mg-b-10">
                    <label class="custom-switch ps-0">
                      <input
                        type="checkbox"
                        name="custom-switch-checkbox"
                        class="custom-switch-input"
                        checked=""
                      />
                      <span class="custom-switch-indicator me-3"></span>
                      <span class="custom-switch-description mg-l-10"
                        >Show Email Notification</span
                      >
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header">
                  <div class="card-title">Конфидициальность и безопасность</div>
                </div>
                <div class="card-body">
                  <div class="form-group mg-b-10">
                    <label class="custom-switch ps-0">
                      <input
                        type="checkbox"
                        name="custom-switch-checkbox"
                        class="custom-switch-input"
                        checked=""
                      />
                      <span class="custom-switch-indicator me-3"></span>
                      <span class="custom-switch-description mg-l-10"
                        >Allow Others to see my profile</span
                      >
                    </label>
                  </div>
                  <div class="form-group mg-b-10">
                    <label class="custom-switch ps-0">
                      <input
                        type="checkbox"
                        name="custom-switch-checkbox"
                        class="custom-switch-input"
                      />
                      <span class="custom-switch-indicator me-3"></span>
                      <span class="custom-switch-description mg-l-10"
                        >Make my profile Public</span
                      >
                    </label>
                  </div>
                  <div class="form-group mg-b-10">
                    <label class="custom-switch ps-0">
                      <input
                        type="checkbox"
                        name="custom-switch-checkbox"
                        class="custom-switch-input"
                      />
                      <span class="custom-switch-indicator me-3"></span>
                      <span class="custom-switch-description mg-l-10"
                        >Security Alert</span
                      >
                    </label>
                  </div>
                  <div class="form-group mg-b-10">
                    <label class="custom-switch ps-0">
                      <input
                        type="checkbox"
                        name="custom-switch-checkbox"
                        class="custom-switch-input"
                        checked=""
                      />
                      <span class="custom-switch-indicator me-3"></span>
                      <span class="custom-switch-description mg-l-10"
                        >Passcode and Face ID</span
                      >
                    </label>
                  </div>
                  <div class="form-group mg-b-10">
                    <label class="custom-switch ps-0">
                      <input
                        type="checkbox"
                        name="custom-switch-checkbox"
                        class="custom-switch-input"
                      />
                      <span class="custom-switch-indicator me-3"></span>
                      <span class="custom-switch-description mg-l-10"
                        >Two Step Verification</span
                      >
                    </label>
                  </div>
                  <div class="form-group mg-b-10">
                    <label class="custom-switch ps-0">
                      <input
                        type="checkbox"
                        name="custom-switch-checkbox"
                        class="custom-switch-input"
                        checked=""
                      />
                      <span class="custom-switch-indicator me-3"></span>
                      <span class="custom-switch-description mg-l-10"
                        >Always Sign In</span
                      >
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <div class="card-title">Удалить аккаунт</div>
            </div>
            <div class="card-body">
              <p>
                Its Advisable for you to request your data to be sent to your
                Email.
              </p>
              <label class="custom-control custom-checkbox mb-0">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  name="example-checkbox1"
                  value="option1"
                  checked
                />
                <span class="custom-control-label"
                  >Yes, Send my data to my Email.</span
                >
              </label>
            </div>
            <div class="card-footer text-end">
              <a href="javascript:void(0)" class="btn btn-primary my-1"
                >Deactivate</a
              >
              <a href="javascript:void(0)" class="btn btn-danger my-1"
                >Delete Account</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- ROW-1 CLOSED -->
    </div>
    <!--CONTAINER CLOSED -->
  </div>
</div>
{% endblock content %}
