{% extends 'includes/base.html' %}

{% load i18n %}
{% load static %}
{% load cache %}
{% load static %}
{% load thumbnail %}

{% block title %}
  READ MORE | {% trans "Online chat" %}
{% endblock %}

{% block content %}
<div class="main-content app-content mt-0">
  <div class="side-app">
    <div class="main-container container-fluid">
      <!-- Header page -->
      <div class="page-header">
        <h1 class="page-title">{% trans "Chat room for " %} {{ course.title }}</h1>
        <div>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'courses:subject_list' %}">READ MORE</a>
            </li>
          </ol>
        </div>
      </div>
      <div class="row row-sm">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="card">
            <div class="card-body">
              <div class="main-content-body main-content-body-chat">
                <div class="main-chat-header pt-3 d-block d-sm-flex">
                  <div class="avatar avatar-xxl brround cover-image">
                    {% if request.user.avatar %}
                      {% thumbnail request.user.avatar "80x80" crop="center" as im %}
                      <img class="brround" alt="avatar" src="{{ im.url }}">
                      {% endthumbnail %}
                    {% else %}
                      <img class="brround" alt="avatar" src="{% static 'images/users/default-user.jpeg' %}">
                    {% endif %}
                  </div>
                  <div class="main-chat-msg-name mt-2">
                    <span class="dot-label bg-success"></span><small class="me-3">online</small>
                    <div id="users-list">
                      {% if users_in_chat|length > 1 %}
                        <div class="avatar-list avatar-list-stacked mt-2">
                          {% for user in users_in_chat %}
                            <span class="avatar brround cover-image">
                              {% if user.avatar %}
                                {% thumbnail user.avatar "80x80" crop="center" as im %}
                                  <img class="brround" alt="avatar" src="{{ im.url }}">
                                {% endthumbnail %}
                              {% else %}
                                <img class="brround" alt="avatar" src="{% static 'images/users/default-user.jpeg' %}">
                              {% endif %}
                            </span>
                          {% endfor %}
                        </div>
                      {% else %}
                        <p>Вы одни в чате.</p>
                      {% endif %}
                    </div>
                  </div>
                  <nav class="nav ms-auto">
                    <div class="dropdown">
                        <a class="nav-link text-muted fs-20" href="javascript:void(0)" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fe fe-more-horizontal"></i></a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="javascript:void(0)"><i class="fe fe-user me-1"></i> {% trans "Profile" %}</a>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="fe fe-edit me-1"></i> {% trans "Edit" %}</a>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="fe fe-users me-1"></i> {% trans "New Group" %}</a>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="fe fe-settings me-1"></i> {% trans "Settings" %}</a>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="fe fe-log-out me-1"></i> {% trans "Back to lesson" %}</a>
                        </div>
                    </div>
                </nav>
                </div>
                <!-- main-chat-header -->
                <div class="main-chat-body flex-2">
                  <!--Chat-->
                  <div class="content-inner" id="chat">
                  </div>
                  <!--END Chat-->

                  <!--Input-text-form-->
                  <div class="main-chat-footer mt-5" id="chat-input">
                    <input class="form-control" placeholder="{% trans "Type your message here..." %}" id="chat-message-input" type="text">
                    <a class="nav-link" data-bs-toggle="tooltip" href="javascript:void(0)" title="Attach a File"><i class="fe fe-paperclip"></i></a>
                    <button id="chat-message-submit" type="submit" class="btn btn-icon  btn-primary brround"><i class="fa fa-paper-plane-o"></i></button>
                  </div>
                  <!--END Input-text-form-->
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block add_script %}
  {{ course.id|json_script:"course-id" }}
  {{ request.user.username|json_script:"request-user" }}
{% endblock %}

{% block domready %}
  const courseId = JSON.parse(
    document.getElementById('course-id').textContent
  );
  const requestUser = JSON.parse(
    document.getElementById('request-user').textContent
  );
  const url = 'wss://' + window.location.host +
              '/ws/chat/room/' + courseId + '/';
  const chatSocket = new WebSocket(url);

  chatSocket.onmessage = function(event) {
    const data = JSON.parse(event.data);
    const chat = document.getElementById('chat');
    const avatarSrc = data.avatar ? data.avatar : "{% static 'images/users/default-user.jpeg' %}";

    const dateOptions = {hour: 'numeric', minute: 'numeric', hour12: true};
    const datetime = new Date(data.datetime).toLocaleString('en', dateOptions);
    const isMe = data.user === requestUser;
    const source = isMe ? 'me' : 'other';
    const name = isMe ? 'Me' : data.user;
    const styleMessage = isMe ? "flex-row-reverse chat-right" : "chat-left";

    chat.innerHTML += `<div class="media ${styleMessage}">
      <div class="main-img-user online">
        <img class="brround" alt="avatar" src="${avatarSrc}">
      </div>
      <div class="media-body">
        
        <div class="main-msg-wrapper my-0" style="background: skyblue;">
          <h6 class="fw-bolder text-capitalize my-0">@${data.user}</h6>
          ${data.message}
        </div>
        <div>
          <span>${datetime}</span> <a href="javascript:void(0)"><i class="icon ion-android-more-horizontal"></i></a>
        </div>
      </div>
    </div>`;
    chat.scrollTop = chat.scrollHeight;
  };

  chatSocket.onclose = function(event) {
    console.error('Chat socket closed unexpectedly');
  };

  const input = document.getElementById('chat-message-input');
  const submitButton = document.getElementById('chat-message-submit');

  submitButton.addEventListener('click', function(event) {
    const message = input.value;
    if(message) {
      // отправить сообщение в формате JSON
      chatSocket.send(JSON.stringify({'message': message}));

      // очистить поле ввода
      input.value = '';
      input.focus();
    }
  });

  input.addEventListener('keypress', function(event) {
    if (event.key === 'Enter') {
      // отменить стандартное действие,
      // если необходимо
      event.preventDefault();

      // запустить событие нажатия клавиши
      submitButton.click();
    }
  });

  input.focus();
{% endblock %}