{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
{% load static %}
{% load humanize %}
{% load comment_filter %}
{% load thumbnail %}

<div class="main-content app-content mt-0">
  <div class="side-app">

      <!-- CONTAINER -->
    <div class="main-container">

        <!-- PAGE-HEADER -->
      <div class="page-header">
        
        <h1 class="page-title">{{ post.title }}</h1>
        <div>
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'blog:post_list' %}">Блог</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
          </ol>
        </div>
      </div>
        <!-- PAGE-HEADER END -->

      <div class="row">
        <div class="col-xl-8">
          <div class="card">
              {% thumbnail post.image  "820x513" crop="center" as im %}
              <img class="card-img-top " src="{{ im.url }}" alt="Card image cap">
              {% endthumbnail %}
              <div class="card-body">
                <div class="d-md-flex">
                  <a href="#" class="d-flex me-4 mb-2"><i class="fe fe-calendar fs-16 me-1 p-3 bg-secondary-transparent text-secondary bradius"></i>
                      <div class="mt-0 mt-3 ms-1 text-muted font-weight-semibold">{{ post.publish|naturaltime }}</div>
                  </a>
                  <a href="#" class="d-flex mb-2"><i class="fe fe-user fs-16 me-1 p-3 bg-primary-transparent text-primary bradius"></i>
                      <div class="mt-0 mt-3 ms-1 text-muted font-weight-semibold">{{ post.author }}</div>
                  </a>
                  <div class="ms-auto">
                    <a href="javascript:void(0);" class="d-flex mb-2"><i class="fe fe-message-square fs-16 me-1 p-3 bg-success-transparent text-success bradius"></i>
                        <div class="mt-0 mt-3 ms-1 text-muted font-weight-semibold">
                          {% with comments.count as total_comments %}
                            {{ total_comments }} комментари{{ total_comments|ru_plural:"й,я,ев" }}
                          {% endwith %}
                        </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <h3><a href="javascript:void(0)">{{ post.title }}</a></h3>
                <p class="card-text">{{ post.body|linebreaks }}</p>
                <a href="{% url "blog:post_share" post.id %}"><span class="badge btn-outline-primary rounded-pill py-2 px-3"><i class="fe fe-share mx-1"></i>Поделиться</span></a>
                <a href="{% url "blog:post_comment" post.id %}"><span class="badge btn-outline-primary rounded-pill py-2 px-3"><i class="fe fe-feather mx-1"></i>Оставить комментарий</span></a>
              </div>
          </div>
          {% comment %} {% include 'blog/includes/comments.html' %} {% endcomment %}
          {% comment %} {% include 'blog/post/comment.html' %} {% endcomment %}
        </div>
        <div class="col-xl-4">
            {% include 'blog/includes/search.html' %}
            {% include 'blog/includes/categories.html' %}
            {% include 'blog/includes/top_writers.html' %}
            {% include 'blog/includes/top_posts.html' %}
            {% include 'blog/includes/tags.html' %}
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}