{% extends 'includes/base.html' %}
{% block title %}Блог{% endblock %}
{% block content %}
{% load static %}
{% load blog_tags %}
<div class="main-content app-content mt-0">
  <div class="side-app">
    <div class="main-container container-fluid">
      <div class="page-header">
          <h1 class="page-title">Блог</h1>
          <div>
            <div class="breadcrumb">
              <a href="{% url 'blog:post_feed' %}" class="btn btn-danger d-inline-block mx-2"><i class="fa fa-rss me-2"></i>Подписаться</a>
              <a href="#" class="btn btn-primary d-inline-block"><i class="fa fa-plus-square me-2"></i>Добавить пост</a>
            </div>
          </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8">
          {% for post in posts %}
            {% include 'blog/post/cart.html' %}
          {% endfor %}
          {% include 'blog/includes/paginator.html' with page=posts %}
      </div>
        <div class="col-xl-4">
          {% include 'blog/includes/search.html' %}
          {% show_categories %}
          {% include 'blog/includes/top_comment_post.html' %}
          {% include 'blog/includes/last_posts.html' %}
          {% include 'blog/includes/tags.html' %}
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}