{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
{% load static %}
{% load humanize %}
{% load comment_filter %}
{% load thumbnail %}

<div class="main-content app-content mt-0">
  <div class="side-app">

      <!-- CONTAINER -->
    <div class="main-container">

        <!-- PAGE-HEADER -->
      <div class="page-header">
        
        <h1 class="page-title">{{ post.title }}</h1>
        <div>
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'blog:post_list' %}">Блог</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
          </ol>
        </div>
      </div>
        <!-- PAGE-HEADER END -->

      <div class="row">
        <div class="col-xl-8">
          <div class="card">
              {% thumbnail post.image  "820x513" crop="center" as im %}
              <img class="card-img-top " src="{{ im.url }}" alt="Card image cap">
              {% endthumbnail %}
              <div class="card-body">
                <div class="d-md-flex">
                  <a href="#" class="d-flex me-4 mb-2"><i class="fe fe-calendar fs-16 me-1 p-3 bg-secondary-transparent text-secondary bradius"></i>
                      <div class="mt-0 mt-3 ms-1 text-muted font-weight-semibold">{{ post.publish|naturaltime }}</div>
                  </a>
                  <a href="#" class="d-flex mb-2"><i class="fe fe-user fs-16 me-1 p-3 bg-primary-transparent text-primary bradius"></i>
                      <div class="mt-0 mt-3 ms-1 text-muted font-weight-semibold">{{ post.author }}</div>
                  </a>
                  <div class="ms-auto">
                    <a href="javascript:void(0);" class="d-flex mb-2"><i class="fe fe-message-square fs-16 me-1 p-3 bg-success-transparent text-success bradius"></i>
                        <div class="mt-0 mt-3 ms-1 text-muted font-weight-semibold">
                          {% with comments.count as total_comments %}
                            {{ total_comments }} комментари{{ total_comments|ru_plural:"й,я,ев" }}
                          {% endwith %}
                        </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="flex-column">
                  {% for tag in post.tags.all %}
                    <span class="badge btn-outline-dark me-1 mb-1 mt-1">{{ tag.name }}</span>
                  {% endfor %}
                </div>
                <h3 class="py-2"><a href="javascript:void(0)">{{ post.title }}</a></h3>
                <p class="card-text">{{ post.body|linebreaks }}</p>
                <div class="card-footer user-pro-2">
                  <div class="media mt-0">
                      <div class="media-user me-2">
                          <div class="avatar-list avatar-list-stacked">
                              <span class="avatar brround" style="background-image: url(../assets/images/users/12.jpg)"></span>
                              <span class="avatar brround" style="background-image: url(../assets/images/users/2.jpg)"></span>
                              <span class="avatar brround" style="background-image: url(../assets/images/users/9.jpg)"></span>
                              <span class="avatar brround" style="background-image: url(../assets/images/users/2.jpg)"></span>
                              <span class="avatar brround" style="background-image: url(../assets/images/users/4.jpg)"></span>
                              <span class="avatar brround text-primary">+28</span>
                          </div>
                      </div>
                      <div class="media-body">
                          <h6 class="mb-0 mt-2 ms-2"> {% with comments.count as total_comments %}
                            {{ total_comments }} комментари{{ total_comments|ru_plural:"й,я,ев" }}
                          {% endwith %}</h6>
                      </div>
                      <div class="ms-auto">
                          <div class="d-flex mt-1">
                              <a class="new me-2 text-muted fs-16" href="#"><span class=""><i class="fe fe-heart"></i></span></a>
                              <a class="new me-2 text-muted fs-16" href="#"><span class=""><i class="fe fe-message-square"></i></span></a>
                              <a class="new text-muted fs-16" href="{% url "blog:post_share" post.id %}"><span class=""><i class="fe fe-share-2"></i></span></a>
                          </div>
                      </div>
                  </div>
              </div>
              </div>
          </div>
          {% if comments %}
            {% include 'blog/includes/comments.html' %}
          {% endif %}
          {% include 'blog/post/includes/comment_form.html' %}
        </div>
        <div class="col-xl-4">
            {% include 'blog/includes/search.html' %}
            {% include 'blog/includes/categories.html' %}
            {% include 'blog/includes/top_writers.html' %}
            {% include 'blog/includes/similar_posts.html' %}
            {% include 'blog/includes/top_comment_post.html' %}
            {% include 'blog/includes/tags.html' %}
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}