{% extends 'includes/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
  READ MORE | {% trans 'Courses' %}
{% endblock %}
{% block content %}
  <div class="main-content app-content mt-0">
    <div class="side-app">
      <div class="main-container container-fluid">
        <!-- Header page -->
        <div class="page-header">
          <h1 class="page-title">{% if subject_id %}{{ subject_id }}{% else %}Все курсы READ MORE{% endif %}</h1>
          <div>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'courses:subject_list' %}">READ MORE</a>
              </li>
            </ol>
          </div>
        </div>
        <!-- /Header page -->
        <!-- Cart courses -->
        <div class="row">
          <div class="pricing-tabs">
            <div class="container">
              <div class="row">
                {% with request.GET.urlencode as get %}
                <div class="col-1 col-sm-3 col-xl-3 col-md-2 col-lg-3 mt-2 mb-3 ">
                  {% include 'courses/manage/course/includes/filter_dropdown.html' with filter_name='subject_name' choices=subjects display_name=subject_id default='Направление' %}
                </div>
                <div class="col-1 col-sm-3 col-xl-3 col-md-2 col-lg-3 mt-2 mb-3 my-2">
                  {% include 'courses/manage/course/includes/filter_dropdown.html' with filter_name='complexity_name' choices=all_course display_name=complexity_full_name default='Сложность' %}
                </div>
                {% endwith %}
              </div>
            </div>
            <div class="row d-flex align-items-center justify-content-center">
              {% for course in courses %}
              <div class="col-sm-6 col-xl-3 col-md-6 col-lg-6">
                <div class="card p-3 pricing-card">
                  {% include 'courses/manage/course/includes/cart-courses.html' %}
                </div>
              </div>
              {% endfor %}
            </div>
            
          </div>
        </div>
        <!-- /Cart courses -->
      </div>
    </div>
  </div>
{% endblock %}
