{% extends "includes/base.html" %}
{% load course %}
{% load i18n %}
{% load static %}

{% block title %}
    READ MORE | {% trans "Test" %}
{% endblock %}

{% block content %}
{% with course=module.course %}
<div class="main-content app-content mt-0">
	<div class="side-app">
		<div class="main-container container-fluid">
			
			<div class="page-header">
				<h1 class="page-title">Manager Course</h1>
				<div>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)">Manager Courses</a></li>
					</ol>
				</div>
			</div>
			<div class="row row-sm">
					<div class="col-md-5 col-lg-5 col-xl-3">
						<div class="card">
							<div class="card-body">
								<div class="d-flex">
									<h4 class="text-info fw-semibold">{{ course.title }}</h4>
									<div class="ms-5 ms-auto">
										<a href="javascript:void(0)" class="text-muted" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<i class="fe fe-more-vertical fs-18"></i>
										</a>
										<ul class="dropdown-menu" role="menu">
											<li><a href="{% url 'courses:course_edit' course.id %}">Изменить</a></li>
											<li><a href="{% url 'courses:course_delete' course.id %}">Удалить</a></li>
										</ul>
									</div>
								</div>
								<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-5 ps-sm-0">
									<div class="d-flex align-items-end justify-content-between mb-1">
											<h6 class="mb-1">Modules</h6>
											<h6 class="fw-semibold mb-1">5</h6>
									</div>
									<div class="progress h-2 mb-3">
											<div class="progress-bar bg-primary" style="width:10%;"
													role="progressbar"></div>
									</div>
								</div>
								<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 ps-sm-0">
									<div class="d-flex align-items-end justify-content-between mb-1">
											<h6 class="mb-1">Lessons</h6>
											<h6 class="fw-semibold mb-1">10</h6>
									</div>
									<div class="progress h-2 mb-3">
											<div class="progress-bar bg-primary" style="width:15%;"
													role="progressbar"></div>
									</div>
								</div>
								<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 ps-sm-0">
									<div class="d-flex align-items-end justify-content-between mb-1">
											<h6 class="mb-1">Students</h6>
											<h6 class="fw-semibold mb-1">100</h6>
									</div>
									<div class="progress h-2 mb-3">
											<div class="progress-bar bg-primary" style="width:75%;"
													role="progressbar"></div>
									</div>
								</div>
							</div>
						</div>
						<!-- MODULES OPEN -->
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Modules</h3>
								<div class="ms-5 ms-auto">
									<a href="javascript:void(0)" class="text-muted" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="fe fe-more-vertical fs-18"></i>
									</a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="{% url 'courses:module_update' course.id %}">Настроить</a></li>
									</ul>
								</div>
							</div>
							<div class="card-body">
								<div class="">
									<div class="list-group">
										{% for m in course.modules.all %}
										<div data-id="{{ m.id }}" >
											<a href="{% url 'courses:content_list' m.id %}" class="list-group-item list-group-item-action flex-column align-items-start {% if m == module %}active{% endif %}">
												<div class="d-flex w-100 justify-content-between ">
													<h5 class="mb-1">{{ forloop.counter }}. {{ m.title }}</h5>
												</div>
												<small class="text-muted">1 тема</small>
											</a>
										</div>
										{% empty %}
										<a href="javascript:void(0)" class="list-group-item list-group-item-action flex-column align-items-start">
											<div class="d-flex w-100 justify-content-between">
												<h5 class="mb-1">No modules yet.</h5>
											</div>
										</a>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- MODULES END -->
					<div class="col-md-7 col-lg-7 col-xl-9">
						<div class="card">
							<div class="card-body">
									<div class="panel panel-primary">
										<div class="card-header">
											<h3 class="card-title">Настройка уроков</h3>
											<div class="ms-5 ms-auto">
												<a href="javascript:void(0)" class="text-muted" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													<i class="fa fa-wrench fs-18"></i>
												</a>
												<ul class="dropdown-menu" role="menu">
													<li class="dropdown-plus-title"> Добавить блок <b class="fa fa-angle-down" aria-hidden="true"></b> </li>
													<li><a href="{% url 'courses:content_create' module.id 'text' %}"> <i class="pe-7s-note2 me-2"> </i>Text</a></li>
													<li><a href="{% url 'courses:content_create' module.id 'image' %}"> <i class="pe-7s-photo me-2"> </i>Image</a></li>
													<li><a href="{% url 'courses:content_create' module.id 'video' %}"> <i class="pe-7s-video me-2"> </i>Video</a></li>
													<li><a href="{% url 'courses:content_create' module.id 'file' %}"> <i class="pe-7s-file me-2"> </i>File</a></li>
												</ul>
											</div>
										</div>
										{% for content in module.contents.all %}
                    <div data-id="{{ content.id }}">
                        {% with item=content.item %}
												<div class="card-body mt-1">
													<div class="panel-group1" id="accordion1">
															<div class="panel panel-default" data-id="{{ content.id }}">
																	<div class="panel-heading1 ">
																			<h4 class="panel-title1">
																					<a class="accordion-toggle collapsed" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseFour" aria-expanded="false"><i class="{% if item|model_name == "text" %}pe-7s-note2 {% elif item|model_name == "image" %}pe-7s-photo{% elif item|model_name == "video" %}pe-7s-video{% elif item|model_name == "file" %}pe-7s-file{% endif %} me-2 text-white"></i> {{ item }}</a>
																			</h4>
																	</div>
																	<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-expanded="false">

																			<div class="panel-body">
																					<p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words </p>
																					
																					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
																							and scrambled.Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure
																							him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise</p>
																						<div class="btn-group fs-1">
																							<a href="{% url "courses:content_update" module.id item|model_name item.id %}" class="btn btn-outline-dark"  aria-current="page">Изменить</a>
																							<form action="{% url 'courses:content_delete' content.id %}" method="post" class="btn btn-outline-dark" >
																								<button type="submit" style="display: inline; border: none; background: none; color: inherit;">Удалить</button>
																								{% csrf_token %}
																							</form>
																						</div>
																			</div>
																	</div>
															</div>
													</div>
													
											</div>
                        {% endwith %}
                    </div>
										{% empty %}
												<p>This module has no contents yet.</p>
										{% endfor %}
									</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>
{% endwith %}
{% endblock content %}

