{% extends "includes/base.html" %}
{% load course %}
{% load i18n %}
{% load static %}

{% block title %}
    READ MORE | {% trans "Test" %}
{% endblock %}

{% block content %}
{% with course=module.course %}
<div class="main-content app-content mt-0">
	<div class="side-app">
		<div class="main-container container-fluid">
			
			<div class="page-header">
				<h1 class="page-title">Manager Course</h1>
				<div>
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{% url 'courses:subject_list' %}">Read more</a>
						</li>
						<li class="breadcrumb-item" aria-current="page">
							<a href="{% url 'courses:manage_course_list' course.subject.slug %}">{{ course.subject }}</a>
						</li>
					</ol>
				</div>
			</div>
			<div class="row row-sm">
					<div class="col-md-5 col-lg-5 col-xl-3">
						<div class="card">
							<div class="card-body">
								<div class="d-flex">
									<h4 class="text-info fw-semibold">{{ course.title }}</h4>
									<div class="ms-5 ms-auto">
										<a href="javascript:void(0)" class="text-muted" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<i class="fe fe-more-vertical fs-18"></i>
										</a>
										<ul class="dropdown-menu" role="menu">
											<li><a href="{% url 'courses:course_edit' course.id %}">Изменить</a></li>
											<li><a href="{% url 'courses:course_delete' course.id %}">Удалить</a></li>
										</ul>
									</div>
								</div>
								<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-5 ps-sm-0">
									<div class="d-flex align-items-end justify-content-between mb-1">
											<h6 class="mb-1">Modules</h6>
											<h6 class="fw-semibold mb-1">{{ course.modules.count }}</h6>
									</div>
									<div class="progress h-2 mb-3">
											<div class="progress-bar bg-primary" style="width:10%;"
													role="progressbar"></div>
									</div>
								</div>
								<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 ps-sm-0">
									<div class="d-flex align-items-end justify-content-between mb-1">
											<h6 class="mb-1">Lessons</h6>
											<h6 class="fw-semibold mb-1">10</h6>
									</div>
									<div class="progress h-2 mb-3">
											<div class="progress-bar bg-primary" style="width:15%;"
													role="progressbar"></div>
									</div>
								</div>
								<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 ps-sm-0">
									<div class="d-flex align-items-end justify-content-between mb-1">
											<h6 class="mb-1">Students</h6>
											<h6 class="fw-semibold mb-1">100</h6>
									</div>
									<div class="progress h-2 mb-3">
											<div class="progress-bar bg-primary" style="width:75%;"
													role="progressbar"></div>
									</div>
								</div>
							</div>
						</div>
						<!-- MODULES OPEN -->
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Modules</h3>
								<div class="ms-5 ms-auto">
									<a href="javascript:void(0)" class="text-muted" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="fe fe-more-vertical fs-18"></i>
									</a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="{% url 'courses:module_update' course.id %}">Настроить</a></li>
									</ul>
								</div>
							</div>
							<div class="card-body">
								<div class="">
									<ul class="list-group" id="modules">
										{% for m in course.modules.all %}
										<li data-id="{{ m.id }}" >
											<a href="{% url 'courses:content_list' m.id %}" class="list-group-item list-group-item-action flex-column align-items-start {% if m == module %}active{% endif %}">
												<span>
													Module <span class="order">{{ m.order|add:1 }}</span>
												</span>
												<div class="d-flex w-100 justify-content-between ">
													<h5 class="mb-1">{{ m.title }}</h5>
												</div>
											</a>
											
										</li>
										{% empty %}
										<a href="javascript:void(0)" class="list-group-item list-group-item-action flex-column align-items-start">
											<div class="d-flex w-100 justify-content-between">
												<h5 class="mb-1">No modules yet.</h5>
											</div>
										</a>
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- MODULES END -->
					<div class="col-md-7 col-lg-7 col-xl-9">
						<div class="card">
							<div class="card-body">
								<div class="panel panel-primary">
									<div class="card-header">
										<h3 class="card-title">Настройка уроков</h3>
										<div class="ms-5 ms-auto">
											<a href="javascript:void(0)" class="text-muted" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												<i class="fa fa-plus fs-18"></i>
											</a>
											<ul class="dropdown-menu" role="menu">
												<li class="dropdown-plus-title"> Добавить блок <b class="fa fa-angle-down" aria-hidden="true"></b> </li>
												<li><a href="{% url 'courses:content_create' module.id 'text' %}"> <i class="pe-7s-note2 me-2"> </i>Text</a></li>
												<li><a href="{% url 'courses:content_create' module.id 'image' %}"> <i class="pe-7s-photo me-2"> </i>Image</a></li>
												<li><a href="{% url 'courses:content_create' module.id 'video' %}"> <i class="pe-7s-video me-2"> </i>Video</a></li>
												<li><a href="{% url 'courses:content_create' module.id 'file' %}"> <i class="pe-7s-file me-2"> </i>File</a></li>
											</ul>
										</div>
									</div>
									<ul>
										<div class="mt-5" id="module-contents">
										{% for content in module.contents.all %}
										<li data-id="{{ content.id }}" class="contents" >
											{% with item=content.item %}
											<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
												
												<span>
													<i class="{% if item|model_name == "text" %}pe-7s-note2 {% elif item|model_name == "image" %}pe-7s-photo{% elif item|model_name == "video" %}pe-7s-video{% elif item|model_name == "file" %}pe-7s-file{% endif %} me-2 text-dark"></i> Content <span class="order">{{ content.order|add:1 }}</span>
												</span>
												
												<div class="d-flex w-100 justify-content-between ">
													<h5 class="mb-1">{{ item }}</h5>
												</div>
											</a>
											{% endwith %}
										</li>
										{% empty %}
										<a href="javascript:void(0)" class="list-group-item list-group-item-action flex-column align-items-start">
											<div class="d-flex w-100 justify-content-between">
												<h5 class="mb-1">No contents yet.</h5>
											</div>
										</a>
										{% endfor %}
									</div>
									</ul>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>
{% endwith %}
{% endblock content %}

{% block add_script %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5sortable/0.13.3/html5sortable.min.js"></script>
{% endblock add_script %}

{% block domready %}
	var options = {
		method: 'POST',
		mode: 'same-origin'
	}

	const moduleOrderUrl = '{% url "courses:module_order" %}';

	sortable('#modules', {
		forcePlaceholderSize: true,
		placeholderClass: 'placeholder'
		})[0].addEventListener('sortupdate', function(e) {

			modulesOrder = {};
			var modules = document.querySelectorAll('#modules li');
			modules.forEach(function (module, index) {
				// обновить индекс модуля
				modulesOrder[module.dataset.id] = index;
	
				// обновить индекс в HTML-элементе
				module.querySelector('.order').innerHTML = index + 1;

				// добавить новый порядок в опции HTTP-запроса
				options['body'] = JSON.stringify(modulesOrder);

				// отправить HTTP-запрос
				fetch(moduleOrderUrl, options)
			});
		});

	const contentOrderUrl = '{% url "courses:content_order" %}'

	sortable('#module-contents', {
		forcePlaceholderSize: true,
		placeholderClass: 'placeholder'
		})[0].addEventListener('sortupdate', function(e) {

			contentOrder = {};
			var contents = document.querySelectorAll('#module-contents li');
			contents.forEach(function (content, index) {

			// обновить индекс контента
			contentOrder[content.dataset.id] = index;

			// обновить индекс в HTML-элементе
			content.querySelector('.order').innerHTML = index + 1;

			// добавить новый порядок в опции HTTP-запроса
			options['body'] = JSON.stringify(contentOrder);

			// отправить HTTP-запрос
			fetch(contentOrderUrl, options)
			});
		});
{% endblock %}