<div class="row mt-7">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Вопросы и ответы</h3>
            </div>
            <div class="card-body">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Какие навыки я получу после прохождения этого курса?
                                </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Ответ на этот вопрос зависит от конкретного курса, но обычно на сайте курса должны быть перечислены навыки или компетенции, которые вы получите в результате прохождения программы обучения. Обратите внимание на перечисление ключевых навыков, которые вы сможете использовать в практической деятельности. Почитайте отзывы других студентов курса, чтобы получить более конкретное представление о том, что можно ожидать от прохождения курса.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Какой формат обучения будет использоваться в курсе, и будет ли он подходить моему уровню знаний?
                                </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Формат обучения и уровень знаний, необходимых для прохождения курса, указаны на сайте курса. Если вы не уверены в своих способностях, проверьте, есть ли уровни сложности или подходящие для разных уровней знаний программы обучения. Некоторые курсы предоставляют начальный тест, чтобы определить ваш уровень знаний перед началом курса. Кроме того, вы можете связаться с куратором или с преподавателем курса для уточнения деталей и получения рекомендаций относительно уровня образования, подходящего для курса.
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Сколько времени и денег мне потребуется вложить в прохождение курса?
                                </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Эта информация объявлена на сайте курса. Обратите внимание на количество часов обучения на курсе, и на сколько недель или месяцев он продлится. Кроме того, проверьте стоимость курса и наличие каких-либо дополнительных затрат или необходимости оплаты учебных материалов, если последние не входят в стоимость курса.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Какие методы оценки будут использоваться для проверки моего прогресса?
                                </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Это можно узнать на сайте курса или у преподавателя курса. Некоторые курсы работают на основе самостоятельной работы студентов, некоторые имеют оценки в виде тестов, а некоторые - на основе проектов и заданий.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Будут ли мне предоставлены материалы для самостоятельного изучения и какие они будут включать в себя?
                                </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Большинство курсов предоставляют материалы для самостоятельного обучения. Они могут быть в виде учебных пособий, видео-уроков, заданий для самостоятельной работы и т.д. Обычно эти материалы содержат все необходимые для успешного завершения курса знания и навыки, о которых упоминалось в ответе на первый вопрос.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                Какая квалификация имеют преподаватели, проводящие курс, и какой опыт они имеют в этой области?
                                </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Опытные разработчики и методисты составляли программу так, чтобы вы точно освоили все необходимые навыки за короткий срок. Но многое зависит и от вас — нужно уделять занятиям не менее 30 часов в неделю, выполнять домашние задания и общаться с наставником. Тогда с нуля вы сможете освоить навыки, соберёте портфолио проектов и начнёте свой путь в профессии.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-header">
                <h3 class="card-title">Готовы ответить на любые вопросы — спрашивайте</h3>
            </div>
            <div class="card-body">
                {% include 'includes/check_error.html' %}
                <form class="pt-4" method="post" action="">
                    {% csrf_token %}
                    {% include 'includes/cycle_forms.html' %}
                    <div class="row">
                        <div class="col-12 my-0">
                          <button type="submit" class="btn btn-primary btn-md">Отправить</button>
                          <div class="text-center mt-3"> <small>Нажимая на кнопку отправить, вы даете свое согласие на обработку персональных данных в соответствии с <a href="{% url 'core:policy' %}">Политикой конфиденциальности</a>.</small> </div>
                        </div>
                      </div>
                </form>
            </div>
        </div>
    </div>
</div>