{% load static %}
<div class="row mt-7">
    <div class="col-lg-12">
        <div class="card ">
            <div class="card-body p-5 text-dark">
                <div class="statistics-info p-4">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card-body about-con pabout">
                                <h2 class="fw-bold">Серьезный <span class="text-info"> тест</span> по профориентации</h2>
                                <p>Данный тест на профориентацию представляет собой комплексный инструмент, который поможет вам лучше понять свои навыки, интересы и предпочтения в выборе профессии.</p>
                                <p>Пройдя этот тест, вы сможете получить ценные рекомендации по выбору карьерного пути, основанные на ваших сильных сторонах и предпочтениях. </p>
                                <a href="javascript:void(0)" class="btn btn-info  mt-2">Пройти тест</a>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="text-center">
                                <img src="{% static 'images/education-is-the-foundation-upon-which-we-build-our-future-5120x2880-4124.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>