<div class="col-xl-4 col-md-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title fw-semibold">Активность за сегодня</h4>
    </div>
    <div class="card-body pb-0">
      <ul class="task-list">
        <li class="d-sm-flex">
          <div>
            <i class="task-icon bg-primary"></i>
            <h6 class="fw-semibold">Task Finished<span class="text-muted fs-11 mx-2 fw-normal">09 July 2021</span></h6>
            <p class="text-muted mb-0 fs-12">
              Adam Berry finished task on<a href="javascript:void(0)" class="fw-semibold">Project Management</a>
            </p>
          </div>
        </li>
        <li class="d-sm-flex">
          <div>
            <i class="task-icon bg-secondary"></i>
            <h6 class="fw-semibold">New Comment<span class="text-muted fs-11 mx-2 fw-normal">05 July 2021</span></h6>
            <p class="text-muted mb-0 fs-12">
              Victoria commented on Project <a href="javascript:void(0)" class="fw-semibold">AngularJS Template</a>
            </p>
          </div>
        </li>
        <li class="d-sm-flex">
          <div>
            <i class="task-icon bg-success"></i>
            <h6 class="fw-semibold">New Comment<span class="text-muted fs-11 mx-2 fw-normal">25 June 2021</span></h6>
            <p class="text-muted mb-0 fs-12">
              Victoria commented on Project <a href="javascript:void(0)" class="fw-semibold">AngularJS Template</a>
            </p>
          </div>
        </li>
        <li class="d-sm-flex">
          <div>
            <i class="task-icon bg-warning"></i>
            <h6 class="fw-semibold">Task Overdue<span class="text-muted fs-11 mx-2 fw-normal">14 June 2021</span></h6>
            <p class="text-muted mb-0 fs-12">
              Petey Cruiser finished task <a href="javascript:void(0)" class="fw-semibold">Integrated management</a>
            </p>
          </div>
        </li>
        <li class="d-sm-flex">
          <div>
            <i class="task-icon bg-danger"></i>
            <h6 class="fw-semibold">Task Overdue<span class="text-muted fs-11 mx-2 fw-normal">29 June 2021</span></h6>
            <p class="text-muted mb-0 fs-12">
              Petey Cruiser finished task <a href="javascript:void(0)" class="fw-semibold">Integrated management</a>
            </p>
          </div>
        </li>
        <li class="d-sm-flex">
          <div>
            <i class="task-icon bg-info"></i>
            <h6 class="fw-semibold">Task Finished<span class="text-muted fs-11 mx-2 fw-normal">09 July 2021</span></h6>
            <p class="text-muted fs-12">
              Adam Berry finished task on<a href="javascript:void(0)" class="fw-semibold">Project Management</a>
            </p>
          </div>
        </li>
      </ul>
    </div>
    <a href="#" class="dropdown-item text-center p-3 text-muted">Посмотреть всю активность</a>
  </div>
</div>
