{% extends 'includes/base.html' %}
{% block title %}READ MORE | {{ post.title }}{% endblock %}
{% block content %}
{% load static %}
{% load humanize %}
{% load comment_filter %}
{% load thumbnail %}
{% load blog_tags %}
<div class="main-content app-content mt-0">
  <div class="side-app">

      <!-- CONTAINER -->
    <div class="main-container">

        <!-- PAGE-HEADER -->
      <div class="page-header">
        
        <h1 class="page-title">{{ post.title }}</h1>
        <div>
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'blog:post_list' %}">Блог</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{ post.category.name }}</li>
          </ol>
        </div>
      </div>
        <!-- PAGE-HEADER END -->

      <div class="row">
        <div class="col-xl-8">
          <div class="card">
              {% thumbnail post.image  "820x513" crop="center" as im %}
              <img class="card-img-top " src="{{ im.url }}" alt="Card image cap">
              {% endthumbnail %}
              <div class="card-body">
                <div class="d-md-flex">
                  <a href="#" class="d-flex me-4 mb-2"><i class="fe fe-calendar fs-16 me-1 p-3 bg-secondary-transparent text-secondary bradius"></i>
                      <div class="mt-0 mt-3 ms-1 text-muted font-weight-semibold">{{ post.publish|naturaltime }}</div>
                  </a>
                  <a href="#" class="d-flex mb-2"><i class="fe fe-user fs-16 me-1 p-3 bg-primary-transparent text-primary bradius"></i>
                      <div class="mt-0 mt-3 ms-1 text-muted font-weight-semibold">{{ post.author.username }}</div>
                  </a>
                  <div class="ms-auto">
                    <a href="javascript:void(0);" class="d-flex mb-2"><i class="fe fe-message-square fs-16 me-1 p-3 bg-success-transparent text-success bradius"></i>
                        <div class="mt-0 mt-3 ms-1 text-muted font-weight-semibold">
                          {% with comments.count as total_comments %}
                            {{ total_comments }} комментари{{ total_comments|ru_plural:"й,я,ев" }}
                          {% endwith %}
                        </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="flex-column">
                  {% for tag in post.tags.all %}
                    <span class="badge btn-outline-dark me-1 mb-1 mt-1">{{ tag.name }}</span>
                  {% endfor %}
                </div>
                <h3 class="py-2"><a href="javascript:void(0)">{{ post.title }}</a></h3>
                <p class="card-text">{{ post.body|linebreaks }}</p>
                <div class="card-footer user-pro-2">
                  <div class="media mt-0">
                    {% with total_likes=post.users_like.count users_like=post.users_like.all  %}
                    <div class="media-user me-2">
                      <div class="avatar-list avatar-list-stacked">
                        <span class="avatar brround text-primary my-total">{{ total_likes }}</span>
                      </div>
                    </div>
                    <div class="media-body">
                        <h6 class="mb-0 mt-2 ms-2">
                          нравится
                        </h6>
                    </div>
                    <div class="ms-auto">
                        <div class="d-flex mt-1">
                          <a href="#" data-id="{{ post.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like button">
                            {% if request.user not in users_like %}
                            <i data-id="{{ post.id }}" class="fa fa-heart-o"></i>
                            {% else %}
                            <i data-id="{{ post.id }}" class="fa fa-heart"></i>
                            {% endif %}
                          </a>
                        </div>
                    </div>
                  {% endwith %}
                  </div>
              </div>
              </div>
          </div>
          {% if comments %}
            {% include 'blog/includes/comments.html' %}
          {% endif %}
          {% include 'blog/post/includes/comment_form.html' %}
        </div>
        <div class="col-xl-4">
            {% include 'blog/includes/search.html' %}
            {% show_categories %}
            {% include 'blog/includes/top_writers.html' %}
            {% include 'blog/includes/similar_posts.html' %}
            {% include 'blog/includes/top_comment_post.html' %}
            {% include 'blog/includes/tags.html' %}
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block domready %}
  const url = '{% url "blog:post_like" %}';
  let options = {
    method: 'POST',
    headers: {'X-CSRFToken': csrftoken},
    mode: 'same-origin'
  }

  document.querySelector('a.like')
          .addEventListener('click', (e) => {
    e.preventDefault();
    const likeButton = e.currentTarget;

    // добавить тело запроса
    const formData = new FormData();
    formData.append('id', likeButton.dataset.id);
    formData.append('action', likeButton.dataset.action);
    options.body = formData;

    // отправить HTTP-запрос
    fetch(url, options)
      .then(data => {
        if (data.ok)
        {
          const previousAction = likeButton.dataset.action  ;

          // переключить текст кнопки и атрибут data-action
          const action = previousAction === 'like' ? 'unlike' : 'like';
          likeButton.dataset.action = action;
          likeButton.innerHTML = action === 'like' ? '<i class="fa fa-heart-o"></i>' : '<i class="fa fa-heart"></i>';

          // обновить количество лайков
          const likeCount = document.querySelector('.my-total');
          if (previousAction === 'like')
          {
            let totalLikes = parseInt(likeCount.innerHTML);
            likeCount.innerHTML = totalLikes + 1;
          }
          else
          {
            const totalLikes = parseInt(likeCount.innerHTML);
            likeCount.innerHTML = totalLikes - 1;
          }
        }
      });
  });
{% endblock %}
