{% extends 'includes/base.html' %}
{% block title %}READ MORE | Блог{% endblock %}
{% block content %}
{% load static %}
{% load blog_tags %}
<div class="main-content app-content mt-0">
  <div class="side-app">
    <div class="main-container container-fluid">
      <div class="page-header">
          <h1 class="page-title">Блог</h1>
          <div>
            <div class="breadcrumb">
              <a href="{% url 'blog:post_feed' %}" class="btn btn-danger d-inline-block mx-2"><i class="fa fa-rss me-2"></i>Подписаться</a>
              <a href="{% url 'blog:post_create' %}" class="btn btn-primary d-inline-block"><i class="fa fa-plus-square me-2"></i>Добавить пост</a>
              <a href="{% url 'blog:post_list_ranking' ranking=1 %}" class="btn btn-primary d-inline-block"><i class="fa fa-plus-square me-2"></i>Сортировать</a>
            </div>
          </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8">
          <div id="obj-list">
            {% include 'blog/post/cart.html' %}
          </div>
      </div>
        <div class="col-xl-4">
          {% include 'blog/includes/search.html' %}
          {% show_categories %}
          {% include 'blog/includes/top_comment_post.html' %}
          {% include 'blog/includes/last_posts.html' %}
          {% include 'blog/includes/tags.html' %}
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}
{% block domready %}
  var page = 1;
  var emptyPage = false;
  var blockRequest = false;
  window.addEventListener('scroll', function(e) {
    var margin = document.body.clientHeight - window.innerHeight - 200; 
    if (window.pageYOffset > margin && !emptyPage && !blockRequest) { 
      blockRequest = true; 
      page += 1; 
      fetch('?posts_only=1&page=' + page) 
        .then(response => response.text()) 
        .then(html => { 
          if (html === '') { 
            emptyPage = true; 
          } 
          else { 
            var objList = document.getElementById('obj-list'); 
            objList.insertAdjacentHTML('beforeEnd', html); 
            blockRequest = false; 
          } 
        }) 
    } 
  });

  // Запустить события прокрутки 
  const scrollEvent = new Event('scroll'); 
  window.dispatchEvent(scrollEvent);
{% endblock %}

