{% extends 'includes/base.html' %}
{% load i18n %}
{% block title %}READ MORE | {% trans "Online store" %} | {{ product.name }}{% endblock %}
{% load static %}
{% load thumbnail %}
{% block content %}
<!--app-content open-->
<div class="main-content app-content mt-0">
  <div class="side-app">

      <!-- CONTAINER -->
      <div class="main-container container-fluid">

          <!-- PAGE-HEADER -->
          <div class="page-header">
              <h1 class="page-title">{{ product.name }}</h1>
              <div>
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'courses:subject_list' %}">READ MORE</a></li>
                  <li class="breadcrumb-item" aria-current="page"><a href="{% url 'shop:product_list' %}">{% trans "Bookstore" %}</a></li>
                  <li class="breadcrumb-item active" aria-current="page"><a href="#">{{ product.category.name }}</a></li>
                </ol>
              </div>
          </div>
          <!-- PAGE-HEADER END -->

          <!-- Product -->
          <div class="row">
              <div class="col-xl-12">
                  <div class="card">
                      <div class="card-body">
                          <div class="row row-sm">
                              <div class="col-xl-5 col-lg-12 col-md-12">
                                  <div class="row">
                                      <div class="col-xl-12">
                                          {% thumbnail product.image  "400x332" as im %}
                                          <div class="product-carousel">
                                              <div class="carousel slide border">
                                                  <div class="carousel-inner">
                                                      <div class="carousel-item active"><img src="{{ im.url }}" alt="img" class="img-fluid mx-auto d-block">
                                                          <div class="text-center mt-5 mb-5 btn-list">
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                          {% endthumbnail %}
                                      </div>
                                  </div>
                              </div>
                              <div class="details col-xl-7 col-lg-12 col-md-12 mt-4 mt-xl-0">
                                  <div class="mt-2 mb-4">
                                      <h3 class="mb-3 fw-semibold">{{ product.name }}</h3>
                                      {% if product.price == 0 %}
                                      <span class="fw-bold fs-23 text-success">БЕСПЛАТНО</span>
                                      {% else %}
                                      <h3 class="mb-4"><span class="me-2 fw-bold fs-25">{{ product.price }} ₽</span></h3>
                                      {% endif %}
                                      <div class=" mt-4 mb-5"><span class="fw-bold me-2">{% trans "Availability" %} :</span><span class="fw-bold text-success">{% trans "Item is in stock" %}</span></div>
                                      <div class="row row-sm">
                                          <div class="col">
                                              <div class="mb-2 me-2 sizes">
                                                  <span class="fw-bold me-4">{% trans "Quantity" %}:</span>
                                                  <form action="{% url "cart:cart_add" product.id %}" method="post">
                                                  <div class="input-group input-indec input-indec1 w-30 w-sm-60 mt-3">
                                                      <span class="input-group-btn">
                                                          <button type="button" class="minus btn btn-white btn-number btn-icon br-7 " >
                                                              <i class="fa fa-minus text-muted"></i>
                                                          </button>
                                                      </span>
                                                      <input type="text" name="quantity" class="form-control text-center qty" value="1">
                                                      <span class="input-group-btn">
                                                          <button type="button" class="quantity-right-plus btn btn-white btn-number btn-icon br-7 add">
                                                              <i class="fa fa-plus text-muted"></i>
                                                          </button>
                                                      </span>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <hr>
                                      <div class="btn-list mt-4">
                                          {% csrf_token %}
                                          <button type="submit" class="btn ripple btn-primary me-2"><i class="fe fe-shopping-cart"> </i> {% trans "To Buy" %}</button>
                                          </form>
                                          {% comment %} <a href="checkout.html" class="btn ripple btn-secondary"><i class="fe fe-credit-card"> </i> {% trans "To Buy" %}</a> {% endcomment %}
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Specifications -->
              {% include 'shop/includes/specifications.html' %}
              <!-- Specifications CLOSED -->

              <!-- Customer Services -->
              {% comment %} {% include 'shop/includes/customer-services.html' %} {% endcomment %}
              <!-- Customer Services CLOSED -->
              
              <!-- Reviews -->
              {% include 'shop/includes/reviews.html' %}
              <!-- Reviews CLOSED -->

              <!-- Add Review -->
              {% include 'shop/includes/add-review.html' %}
              <!-- Add Review CLOSED -->

              <!-- Related Products -->
              {% comment %} {% include 'shop/includes/related-products.html' %} {% endcomment %}
              <!-- Related Products CLOSED -->
          </div>
          <!-- Product CLOSED -->
      </div>
      <!-- CONTAINER CLOSED -->
  </div>
</div>
{% endblock %}
