{% extends 'includes/base.html' %}
{% block title %}ExView | Интернет магазин{% endblock %}
{% load static %}
{% block content %}
{% load thumbnail %}
{% load blog_tags %}
<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">
      <!-- CONTAINER -->
      <div class="main-container container-fluid">

        <!-- PAGE-HEADER -->
        <div class="page-header">
          <h1 class="page-title">Интернет магазин</h1>
          <div>
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="javascript:void(0)">ExView</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Магазин</li>
              </ol>
          </div>
        </div>
        <!-- PAGE-HEADER END -->

        <!-- ROW-1 OPEN -->
        <div class="row row-cards">
          <div class="col-xl-3 col-lg-4">
            <div class="row">
              <div class="col-md-12 col-lg-12">
                <!-- Categories -->
                {% include 'shop/includes/categories.html' %}
                <!-- Categories-END -->

                <!-- Price Range -->
                {% include 'shop/includes/price-range.html' %}
                <!-- Price Range-END -->
                
                <!-- Filter -->
                {% include 'shop/includes/filter.html' %}
                <!-- Filter-END -->

                <!-- Top Products -->
                {% include 'shop/includes/top-products.html' %}
                <!-- Filter-END -->
              </div>
            </div>
          </div>
          <!-- COL-END -->
          <div class="col-xl-9 col-lg-8">
              <div class="row">
                  <div class="col-xl-12">
                      <div class="card p-0">
                          <div class="card-body p-4">
                              <div class="row">
                                  <div class="col-xl-5 col-lg-8 col-md-8 col-sm-8">
                                      <div class="input-group d-flex w-100 float-start">
                                          <input type="text" class="form-control border-end-0 my-2" placeholder="Поиск ...">
                                          <button class="btn input-group-text bg-transparent border-start-0 text-muted my-2">
                                              <i class="fe fe-search text-muted" aria-hidden="true"></i>
                                          </button>
                                      </div>
                                  </div>
                                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                      <ul class="nav item2-gl-menu float-end my-2">
                                          <li class="border-end"><a href="#tab-11" class="show active" data-bs-toggle="tab" title="List style"><i class="fa fa-th"></i></a></li>
                                          <li><a href="#tab-12" data-bs-toggle="tab" class="" title="Grid"><i class="fa fa-list"></i></a></li>
                                      </ul>
                                  </div>
                                  <div class="col-xl-3 col-lg-12">
                                      <a href="add-product.html" class="btn btn-primary btn-block float-end my-2"><i class="fa fa-plus-square me-2"></i>Добавить товар</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="tab-content">
                  <div class="tab-pane active" id="tab-11">
                      <div class="row">
                          {% for product in products %}
                          <div class="col-md-6 col-xl-4 col-sm-6">
                            <div class="card">
                              <div class="product-grid6">
                                <div class="product-image6 p-5">
                                    <ul class="icons">
                                        <li>
                                            <a href="{{ product.get_absolute_url }}" class="btn btn-primary"> <i class="fe fe-eye">  </i> </a>
                                        </li>
                                        <li><a href="add-product.html" class="btn btn-success"><i  class="fe fe-edit"></i></a></li>
                                        <li><a href="javascript:void(0)" class="btn btn-danger"><i class="fe fe-x"></i></a></li>
                                    </ul>
                                    {% thumbnail product.image "250x200" crop="center" as im %}
                                    <a href="{{ product.get_absolute_url }}" >
                                        <img class="img-fluid br-7 w-100" src="{{ im.url }}" alt="img">
                                    </a>
                                    {% endthumbnail %}
                                </div>
                                <div class="card-body pt-0">
                                    <div class="product-content text-center">
                                        <h2 class="title fw-bold fs-20"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h2>
                                        <div class="mb-2 text-warning">
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star-half-o text-warning"></i>
                                            <i class="fa fa-star-o text-warning"></i>
                                        </div>
                                        <div class="price">{{ product.price }} ₽<span class="ms-4">799 ₽</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-center">
                                    <a href="cart.html" class="btn btn-primary mb-1"><i class="fe fe-shopping-cart mx-2"></i>Добавить в корзину</a>
                                    <a href="wishlist.html" class="btn btn-outline-primary mb-1"><i class="fe fe-heart mx-2 wishlist-icon"></i>Добавить в избранное</a>
                                </div>
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                          <!-- Paginator -->
                          <div class="mb-5">
                              <div class="float-end">
                                  <ul class="pagination ">
                                      <li class="page-item page-prev disabled">
                                          <a class="page-link" href="javascript:void(0)" tabindex="-1">Prev</a>
                                      </li>
                                      <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                                      <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                                      <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                                      <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
                                      <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
                                      <li class="page-item page-next">
                                          <a class="page-link" href="javascript:void(0)">Next</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <!-- Paginator-END -->
                      </div>
                  </div>
                  <div class="tab-pane" id="tab-12">
                      <div class="row">
                          {% for product in products %}
                          <div class="col-xl-12 col-lg-12 col-md-12">
                              <div class="card overflow-hidden">
                                  <div class="card-body">
                                      <div class="row g-0">
                                          <div class="col-xl-3 col-lg-12 col-md-12">
                                              <div class="product-list">
                                                  <div class="product-image">
                                                      <ul class="icons">
                                                          <li><a href="{{ product.get_absolute_url }}" class="btn btn-primary"><i class="fe fe-eye text-white "></i></a></li>
                                                          <li><a href="add-product.html" class="btn btn-success"><i class="fe fe-edit text-white "></i></a></li>
                                                          <li><a href="wishlist.html" class="btn btn-danger"><i class="fe fe-x text-white"></i></a></li>
                                                      </ul>
                                                  </div>
                                                  <div class="br-be-0 br-te-0">
                                                    <a href="{{ product.get_absolute_url }}" class="">
                                                        <img src="{% thumbnail product.image "200x200" %}" alt="img" class="cover-image br-7 w-100">
                                                    </a>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-xl-6 col-lg-12 col-md-12 border-end my-auto">
                                              <div class="card-body">
                                                  <div class="mb-3">
                                                      <a href="{{ product.get_absolute_url }}" class="">
                                                          <h2 class="fw-bold fs-30 mb-3">{{ product.name }}</h2>
                                                          <div class="mb-2 text-warning">
                                                              <i class="fa fa-star fs-18 text-warning"></i>
                                                              <i class="fa fa-star fs-18 text-warning"></i>
                                                              <i class="fa fa-star fs-18 text-warning"></i>
                                                              <i class="fa fa-star-half-o fs-18 text-warning"></i>
                                                              <i class="fa fa-star-o fs-18 text-warning"></i>
                                                          </div>
                                                      </a>
                                                      <p class="fs-16">{{ product.description|markdown|truncatewords_html:25 }}</p>
                                                      <form class="shop__filter">
                                                          <div class="row gutters-xs">
                                                              <div class="col-auto">
                                                                  <label class="colorinput">
                                                                      <input type="checkbox" name="color" value="azure" class="colorinput-input" checked>
                                                                      <span class="colorinput-color bg-azure"></span>
                                                                  </label>
                                                              </div>
                                                              <div class="col-auto">
                                                                  <label class="colorinput">
                                                                      <input type="checkbox" name="color" value="indigo" class="colorinput-input">
                                                                      <span class="colorinput-color bg-indigo"></span>
                                                                  </label>
                                                              </div>
                                                              <div class="col-auto">
                                                                  <label class="colorinput">
                                                                      <input type="checkbox" name="color" value="purple" class="colorinput-input">
                                                                      <span class="colorinput-color bg-purple"></span>
                                                                  </label>
                                                              </div>
                                                          </div>
                                                      </form>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-xl-3 col-lg-12 col-md-12 my-auto">
                                              <div class="card-body p-0">
                                                  <div class="price h2 text-center mb-5 fw-bold">{{ product.price }} ₽</div>
                                                  <a href="cart.html" class="btn btn-primary btn-block"><i class="fe fe-shopping-cart mx-2"></i>Добавить в корзину</a>
                                                  <a href="wishlist.html" class="btn btn-outline-primary btn-block mt-2"><i class="fe fe-heart mx-2 wishlist-icon"></i>Добавить в избранное</a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          {% endfor %}
                          <!-- Paginator -->
                          <div class="mb-5">
                              <div class="float-end">
                                  <ul class="pagination ">
                                      <li class="page-item page-prev disabled">
                                          <a class="page-link" href="javascript:void(0)" tabindex="-1">Prev</a>
                                      </li>
                                      <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                                      <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                                      <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                                      <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
                                      <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
                                      <li class="page-item page-next">
                                          <a class="page-link" href="javascript:void(0)">Next</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <!-- Paginator-END -->
                      </div>
                  </div>
              </div>
              <!-- COL-END -->
          </div>
          <!-- ROW-1 CLOSED -->
        </div>
        <!-- ROW-1 END -->
      </div>
    </div>
</div>
{% endblock %}
{% block add_script %}
<!-- Ion.RangeSlider js-->
<script src="{% static 'plugins/jquery-uislider/jquery-ui.js' %}"></script>
<script src="{% static 'js/slider.js' %}"></script>
{% endblock %}