{% extends 'includes/base.html' %}
{% block title %}
  READ MORE | Действия пользователей
{% endblock %}
{% block content %}
  {% load static %}

  <div class="main-content app-content mt-0">
    <div class="side-app">
      <!-- CONTAINER -->
      <div class="main-container container-fluid">
        <!-- PAGE-HEADER -->
        <div class="page-header">
          <h1 class="page-title">Действия пользователей</h1>
          <div>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">READ MORE</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Действия</li>
            </ol>
          </div>
        </div>
        <!-- PAGE-HEADER END -->

        <!-- Row -->
        <!-- Container -->
        <div class="container">
          <ul id="action-list" class="notification">
            {% include 'actions/action/detail.html' %}
          </ul>
          <div class="text-center mb-4">
            <button id="more-btn" class="btn ripple btn-primary w-md">Показать еще</button>
          </div>
        </div>
        <!-- End Container -->
        <!-- /Row -->
      </div>
      <!-- CONTAINER CLOSED -->
    </div>
  </div>
{% endblock %}
{% block domready %}
  var page = 1;
  var emptyPage = false;
  var blockRequest = false;
  $('#more-btn').on('click', function() {
    if (!emptyPage && !blockRequest) { 
      blockRequest = true; 
      page += 1; 
      $.get('?posts_only=1&page=' + page, function(data) {
        if (data === '') { 
          emptyPage = true;
          $('#more-btn').hide(); // Скрыть кнопку, если все записи уже загружены
        } 
        else { 
          $('#action-list').append(data); 
          blockRequest = false; 
        } 
      }); 
    }
  });
{% endblock %}