{% extends 'includes/base.html' %}
{% block title %}
  EXP VIEW | Действия пользователей
{% endblock %}
{% block content %}
{% load static %}

<div class="main-content app-content mt-0">
    <div class="side-app ">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">Действия пользователей</h1>
                <div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">EXP-VIEW</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Действия</li>
                    </ol>
                </div>
            </div>
            <!-- PAGE-HEADER END -->

            <!-- Row -->
            <!-- Container -->
            <div class="container">
                <ul id="action-list" class="notification">
                    {% for action in actions %}
                        {% include 'actions/action/detail.html' %}
                    {% endfor %}
                </ul>
                <div class="text-center mb-4">
                    <button class="btn ripple btn-primary w-md">Загрузить ещё</button>
                </div>
            </div>
            <!-- End Container -->
            <!-- /Row -->
        </div>
        <!-- CONTAINER CLOSED -->
    </div>
</div>
{% endblock %}