{% extends 'includes/base.html' %}
{% load i18n %}
{% load template_tags %}
{% block title %}
  READ MORE | {% trans 'Create a new product' %}
{% endblock %}
{% block content %}
  <div class="main-content app-content mt-0">
    <div class="side-app">
      <!-- CONTAINER -->
      <div class="main-container container-fluid">
        <!-- PAGE-HEADER -->
        <div class="page-header">
          <h1 class="page-title">
            {% trans 'Create a new product' %}
          </h1>
          <div>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">READ MORE</a>
              </li>
              <li class="breadcrumb-item" aria-current="page">
                {% trans 'Products' %}
              </li>
            </ol>
          </div>
        </div>
        <!-- PAGE-HEADER END -->

        <div class="row">
          <div class="col-xl-8">
            <div class="card">
              <div class="card-header">
                <div class="card-title">
                  {% trans 'Create a new product' %}
                </div>
              </div>
              <form method="POST" enctype="multipart/form-data">
                <div class="card-body">
                  {% for field in form %}
                    {% if field.name == "DELETE" %}
                        <div class="form-check">
                        {{ field|addclass:'form-checkbox' }}
                        <label class="form-check-label" for="{{ field.id_for_label }}">
                          {{ field.label }}
                        </label>
                      </div>
                    {% else %}
                        <div class="form-group row p-3 my-1" {% if field.field.required %} aria-required="true" {% else %} aria-required="false" {% endif %}>
                        <label for="{{ field.id_for_label }}">
                            {{ field.label }}
                            {% if field.field.required %}
                            <span class="required text-danger">*</span>
                            {% endif %}
                        </label>
                        {{ field|addclass:'input150 border-start-0 form-control ms-0' }}
                        {% if field.help_text %}
                            <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                            {{ field.help_text|safe }}
                            </small>
                        {% endif %}
                        </div>
                    {% endif %}
                  {% endfor %}
                </div>
                {% csrf_token %}
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">{% trans "Save product" %}</button>
                  <a href="#" class="btn btn-default float-end">Отмена</a>
                </div>
              </form>
            </div>
          </div>
          <div class="col-xl-4">
          </div>
        </div>
      </div>
      <!-- CONTAINER CLOSED -->
    </div>
  </div>
{% endblock %}
