{% extends "registration/base.html" %}
{% block title %}Восстановление пароля{% endblock %}
{% block content %}
<div class="container-login100">
  <div class="wrap-login100 p-6">
    <div class="login100-form validate-form">
      <form method='post'>
        <span class="login100-form-title pb-5"> Восстановление пароля </span>
        <p class="text-muted">
          Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем
          вам инструкцию, как установить новый пароль.
        </p>
        <div
          class="wrap-input100 validate-input input-group"
          data-bs-validate="Valid email is required: ex@abc.xyz"
        >
          <a
            href="javascript:void(0)"
            class="input-group-text bg-white text-muted"
          >
            <i class="zmdi zmdi-email" aria-hidden="true"></i>
          </a>
          <input
            class="input100 border-start-0 ms-0 form-control"
            type="email"
            name="email"
            required id="id_email"
            placeholder="Email"
          />
        </div>
        {% csrf_token %}
        <div class="submit">
          <button class="btn btn-primary d-grid" type="submit">
            Восстановить
          </button>
        </div>
      </form>
      <label class="login-social-icon"><span>ИЛИ</span></label>
      <div class="d-flex justify-content-center">
        <a href="javascript:void(0)">
          <div class="social-login me-4 text-center">
            <i class="fa fa-google"></i>
          </div>
        </a>
        <a href="javascript:void(0)">
          <div class="social-login me-4 text-center">
            <i class="fa fa-facebook"></i>
          </div>
        </a>
        <a href="javascript:void(0)">
          <div class="social-login text-center">
            <i class="fa fa-twitter"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
