{% load static %}
<div class="sticky">
  <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
  <div class="app-sidebar">
    <div class="side-header">
      <a class="header-brand1" href="{% url 'blog:post_list' %}">
          <img src="{% static 'images/fav/favicon-32x32.png' %}" class="header-brand-img desktop-logo" alt="logo">
          <img src="{% static 'images/fav/favicon-32x32.png' %}" class="header-brand-img toggle-logo" alt="logo">
          <img src="{% static 'images/fav/favicon-32x32.png' %}" class="header-brand-img light-logo" alt="logo">
          <img src="{% static 'images/fav/favicon-32x32.png' %}" class="header-brand-img light-logo1" alt="logo">
      </a>
      
    </div>
      <div class="main-sidemenu">
          <div class="slide-left disabled" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"><path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"/></svg></div>
          <ul class="side-menu">
            <li class="slide">
                <a class="side-menu__item" data-bs-toggle="slide" href="#home"><span
                        class="side-menu__label">Главная</span></a>
            </li>
            <li class="slide">
              <a class="side-menu__item {% if request.path == '/' %}btn-outline-dark active{% endif %}" data-bs-toggle="slide" href="{% url 'blog:post_list' %}"><span
                      class="side-menu__label">Блог</span></a>
            </li>
            <li class="slide">
                <a class="side-menu__item" data-bs-toggle="slide" href="#Features"><span
                        class="side-menu__label ">Рецепты</span></a>
            </li>
            <li class="slide">
                <a class="side-menu__item" data-bs-toggle="slide" href="#About"><span
                        class="side-menu__label">Магазин</span></a>
            </li>
            <li class="slide">
                <a class="side-menu__item" data-bs-toggle="slide" href="#Faqs"><span
                        class="side-menu__label">Обучение</span></a>
            </li>
            
            <li class="slide">
                <a class="side-menu__item" data-bs-toggle="slide" href="#Clients"><span
                        class="side-menu__label">Чат</span></a>
            </li>
            <li class="slide">
                <a class="side-menu__item" data-bs-toggle="slide" href="#Contact"><span
                        class="side-menu__label">Поддержать</span></a>
            </li>
          </ul>
          <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"/></svg></div>
      </div>
  </div>