<div class="card">
    <div class="card-header">
        <div class="card-title">Теги</div>
    </div>
    <div class="card-body">
        <div class="tags">
            <a href="javascript:void(0)" class="tag">Development</a>
            <a href="javascript:void(0)" class="tag">Design</a>
            <a href="javascript:void(0)" class="tag">Technology</a>
            <a href="javascript:void(0)" class="tag">Popular</a>
            <a href="javascript:void(0)" class="tag">Codiegniter</a>
            <a href="javascript:void(0)" class="tag">JavaScript</a>
            <a href="javascript:void(0)" class="tag">Bootstrap</a>
            <a href="javascript:void(0)" class="tag">PHP</a>
        </div>
    </div>
</div>