{% load static %}
<!DOCTYPE html>
<html lang="ru">

  <head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>

    <!-- TITLE -->
    <title>{% block title %}{% endblock %}</title>

    <!-- FAVICON -->
    <link rel="icon" href="{% static 'images/fav/fav.ico' %}" type="image" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'images/fav/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'images/fav/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'images/fav/favicon-16x16.png' %}"
    />

    <!-- BOOTSTRAP CSS -->
    <link id="style" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- STYLE CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/dark-style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/skin-modes.css' %}" rel="stylesheet" />

    <!--- FONT-ICONS CSS -->
    <link href="{% static 'css/icons.css' %}" rel="stylesheet" />

    <!-- COLOR SKIN CSS -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="{% static 'colors/color1.css' %}" />
    <link href="{% static 'switcher/css/switcher.css' %}" rel="stylesheet" />
    <link href="{% static 'switcher/demo.css' %}" rel="stylesheet" />
    {% block css %}{% endblock %}
  </head>

  <!-- PAGE -->
  <body class="{{ body_class }}">
    <div class="{% if request.path == '/countdown/' %}login-img{% endif %}"> 
      <div id="global-loader">
        <div class="spinner-lg loader-img"></div>
      </div> 
      {% if messages %} {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
          {{ message|safe }}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        {% endfor %} {% endif %} 
      {% block base %}{% endblock base %}
      <div class="row">
        <div class="px-0 px-sm-4">
          <div
            class="social social-profile-buttons mt-5 float-end"
          >
            <div class="mt-3">
              <a
                class="social-icon text-primary"
                href="https://vk.com/evolochek"
                target="_blank"
                ><i class="fa fa-vk"></i
              ></a>
              <a
                class="social-icon text-primary"
                href="https://wa.me/89879577130"
                target="_blank"
                ><i class="fa fa-whatsapp"></i
              ></a>
              <a
                class="social-icon text-primary"
                href="https://www.linkedin.com/in/evgvol"
                target="_blank"
                ><i class="fa fa-linkedin"></i
              ></a>
              <a
                class="social-icon text-primary"
                href="https://github.com/EvgVol"
                target="_blank"
                ><i class="fa fa-github"></i
              ></a>
              <a
                class="social-icon text-primary"
                href="https://t.me/ESVolochek"
                target="_blank"
                ><i class="fa fa-telegram"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% block script %}{% endblock script %}
  </body>
</html>