{% extends "registration/base.html" %}
{% block title %}Изменение пароля{% endblock %}
{% block content %}

<div class="container-login100">
  <div class="wrap-login100 p-6">
    <div class="login100-form validate-form">
      <span class="login100-form-title pb-5"> Изменить пароль </span>
      <div class="panel panel-primary">
        <div class="panel-body tabs-menu-body p-0 pt-5">
          <div class="tab-content">
            
            <div class="tab-pane active" id="tab5">
              <!-- Form of registration -->
              <form method="post">
                {% include 'includes/cycle_forms.html' %}
                {% csrf_token %}
                <div class="container-login100-form-btn">
                  <button class="login100-form-btn btn-primary" type="submit">
                    Изменить пароль
                  </button>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
