{% extends 'registration/base.html' %} {% block title %}Регистрация{% endblock %} {% block content %}
<div class="container-login100">
  <div class="wrap-login100 p-6">
    <div class="login100-form validate-form">
      <span class="login100-form-title"> Регистрация </span>
      <form method="post">
        <div class="wrap-input100 validate-input input-group">
          
          <a
            href="javascript:void(0)"
            class="input-group-text bg-white text-muted"
          >
            <i class="mdi mdi-account" aria-hidden="true"></i>
          </a>
          <input
            class="input100 border-start-0 ms-0 form-control"
            type="text"
            name="username"
            maxlength="32"
            required id="id_username"
            placeholder="Логин"
          />
          
        </div>
        <div
          class="wrap-input100 validate-input input-group"
          data-bs-validate="Valid email is required: ex@abc.xyz"
        >
          <a
            href="javascript:void(0)"
            class="input-group-text bg-white text-muted"
          >
            <i class="zmdi zmdi-email" aria-hidden="true"></i>
          </a>
          <input
            class="input100 border-start-0 ms-0 form-control"
            type="email"
            name="email"
            maxlength="256"
            required id="id_email"
            placeholder="Электронная почта"
          />
        </div>
        <div
          class="wrap-input100 validate-input input-group"
          id="Password-toggle"
        >
          <a
            href="javascript:void(0)"
            class="input-group-text bg-white text-muted"
          >
            <i class="zmdi zmdi-eye" aria-hidden="true"></i>
          </a>
          <input
            class="input100 border-start-0 ms-0 form-control"
            type="password"
            name="password"
            required id="id_password"
            placeholder="Пароль"
          />
        </div>
        <label class="custom-control custom-checkbox mt-4">
          <input
            type="checkbox"
            class="custom-control-input"
            name="privacy_policy"
            required id="id_privacy_policy"
          />
          <span class="custom-control-label"
            >Согласен с <a href="#">Политикой кондифициальности</a></span
          >
        </label>
        {% csrf_token %}
        <div class="container-login100-form-btn">
          <button class="login100-form-btn btn-primary" type="submit">
            Зарегистрироваться
          </button>
        </div>
      </form>
      <div class="text-center pt-3">
        <p class="text-dark mb-0">
          Уже зарегистрированы?<a
            href="{% url 'login' %}"
            class="text-primary ms-1"
            >Войти</a
          >
        </p>
      </div>
      <label class="login-social-icon"><span>ИЛИ</span></label>
      <div class="d-flex justify-content-center">
        <a href="javascript:void(0)">
          <div class="social-login me-4 text-center">
            <i class="fa fa-google"></i>
          </div>
        </a>
        <a href="javascript:void(0)">
          <div class="social-login me-4 text-center">
            <i class="fa fa-facebook"></i>
          </div>
        </a>
        <a href="javascript:void(0)">
          <div class="social-login text-center">
            <i class="fa fa-twitter"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
