{% extends 'registration/base.html' %} {% block title %}Регистрация{% endblock %} {%
block content %}
<div class="container-login100">
  <div class="wrap-login100 p-6">
    <form class="login100-form validate-form">
      <span class="login100-form-title"> Регистрация </span>
      <div
        class="wrap-input100 validate-input input-group"
        data-bs-validate="Valid email is required: ex@abc.xyz"
      >
        <a
          href="javascript:void(0)"
          class="input-group-text bg-white text-muted"
        >
          <i class="mdi mdi-account" aria-hidden="true"></i>
        </a>
        <input
          class="input100 border-start-0 ms-0 form-control"
          type="text"
          placeholder="Логин"
        />
      </div>
      <div
        class="wrap-input100 validate-input input-group"
        data-bs-validate="Valid email is required: ex@abc.xyz"
      >
        <a
          href="javascript:void(0)"
          class="input-group-text bg-white text-muted"
        >
          <i class="zmdi zmdi-email" aria-hidden="true"></i>
        </a>
        <input
          class="input100 border-start-0 ms-0 form-control"
          type="email"
          placeholder="Электронная почта"
        />
      </div>
      <div
        class="wrap-input100 validate-input input-group"
        id="Password-toggle"
      >
        <a
          href="javascript:void(0)"
          class="input-group-text bg-white text-muted"
        >
          <i class="zmdi zmdi-eye" aria-hidden="true"></i>
        </a>
        <input
          class="input100 border-start-0 ms-0 form-control"
          type="password"
          placeholder="Пароль"
        />
      </div>
      <label class="custom-control custom-checkbox mt-4">
        <input type="checkbox" class="custom-control-input" />
        <span class="custom-control-label"
          >Согласен с <a href="terms.html">Политикой кондифициальности</a></span
        >
      </label>
      <div class="container-login100-form-btn">
        <a href="index.html" class="login100-form-btn btn-primary">
          Зарегистрироваться
        </a>
      </div>
      <div class="text-center pt-3">
        <p class="text-dark mb-0">
          Уже зарегистрированы?<a href="login.html" class="text-primary ms-1"
            >Войти</a
          >
        </p>
      </div>
      <label class="login-social-icon"><span>Войти с помощью</span></label>
      <div class="d-flex justify-content-center">
        <a href="javascript:void(0)">
          <div class="social-login me-4 text-center">
            <i class="fa fa-google"></i>
          </div>
        </a>
        <a href="javascript:void(0)">
          <div class="social-login me-4 text-center">
            <i class="fa fa-facebook"></i>
          </div>
        </a>
        <a href="javascript:void(0)">
          <div class="social-login text-center">
            <i class="fa fa-twitter"></i>
          </div>
        </a>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
