{% load static %}
<!DOCTYPE html>
<html lang="ru">

  <head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>

    <!-- TITLE -->
    <title>{% block title %}{% endblock %}</title>

    <!-- FAVICON -->
    <link rel="shortcut icon" href="{% static 'images/fav/fav.ico' %}" type="image" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/fav/apple-touch-icon.png' %}" />
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="{% static 'images/fav/favicon-32x32.png' %}" />
    <link rel="shortcut icon" type="image/png" sizes="16x16" href="{% static 'images/fav/favicon-16x16.png' %}" />

    <!-- BOOTSTRAP CSS -->
    <link id="style" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- STYLE CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/dark-style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/dark-style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/skin-modes.css' %}" rel="stylesheet" />

    <!--- FONT-ICONS CSS -->
    <link href="{% static 'css/icons.css' %}" rel="stylesheet" />

    <!-- COLOR SKIN CSS -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="{% static 'colors/color1.css' %}" />
    <link href="{% static 'switcher/css/switcher.css' %}" rel="stylesheet" />
    <link href="{% static 'switcher/demo.css' %}" rel="stylesheet" />
  </head>

  <!-- PAGE -->
  <body class="app ltr {% if request.path == '/' %}landing-page horizontal{% else %}sidebar-mini light-mode{% endif %}">
    <div id="global-loader">
      <img src="{% static 'images/loader.svg' %}" class="loader-img" alt="Loader">
    </div>
    {% block base %}{% endblock base %}
    {% block script %}{% endblock script %}
    
  </body>
</html>