{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<div class="modal fade" id="country-selector">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content country-select-modal">
      <div class="modal-header">
        <h6 class="modal-title">{% trans "Choose language" %}</h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <ul class="row p-3">
          {% for language in languages %}
          <li class="col-lg-6 mb-2">
            <a 
              href="/{{ language.code }}/"
              class="btn btn-country btn-lg btn-block {% if language.code == LANGUAGE_CODE %}active{% endif %}">
              <span class="country-selector">
                {% for lang_code, lang_name in LANGUAGES %}
                    {% if lang_code == language.code %}
                        <img src="{% static 'images/flags/'|add:lang_code|add:'.svg' %}" alt="{{ lang_name }}">
                    {% endif %}
                {% endfor %}
              </span>
                {{ language.name_local }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
