{% load static %}
<div class="demo-footer">
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <div class="top-footer">
                        <div class="row">
                            <div class="col-lg-4 col-sm-12 col-md-12 active reveal revealleft">
                                <h6> О проекте</h6>
                                <p class="fs-13">Онлайн платформа для людей, желающих учиться и развиваться в различных областях знаний.
                                </p>
                                <p class="mb-5 mb-lg-2 fs-13">Образование и общение - это ключ к успеху в современном мире, а самое главное должно быть доступно для всех.
                                </p>
                            </div>
                            <div class="col-lg-2 col-sm-6 col-md-4 active reveal revealleft">
                                <h6>Навигация</h6>
                                <ul class="list-unstyled mb-5 mb-lg-0">
                                    <li><a href="#">Главная</a></li>
                                    <li><a href="#">Курсы</a></li>
                                    <li><a href="{% url 'blog:post_list' %}">Блог</a></li>
                                    <li><a href="{% url 'shop:product_list' %}">Книжный</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-2 col-sm-6 col-md-4 active reveal revealleft">
                                <h6>Прочее</h6>
                                <ul class="list-unstyled mb-5 mb-lg-0">
                                    <li><a href="about.html">О проекте</a></li>
                                    <li><a href="about.html">Потилика</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-4 col-sm-12 col-md-4 active reveal revealleft">
                                <iframe src="https://yoomoney.ru/quickpay/fundraise/widget?billNumber=G20AcwK1Zv4.230825&" width="400" height="440" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
                            </div>
                        </div>
                    </div>
                    <footer class="main-footer px-0 pb-0 text-center">
                        <div class="row ">
                          <div class="col-md-12 col-sm-12 text-center">
                            Copyright © <span id="year"></span> <a href="javascript:void(0)">Read More</a>. Develop with <span class="fa fa-heart text-danger"></span> by <a href="javascript:void(0)"> EvgVol. </a> All rights reserved.
                          </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>