{% load static %}
<div class="demo-footer">
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <div class="top-footer">
                        <div class="row">
                            <div class="col-lg-4 col-sm-12 col-md-12 active reveal revealleft">
                                <h6>О проекте</h6>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                    veritatis et quasi architecto beatae vitae dicta sunt
                                    explicabo.
                                </p>
                                <p class="mb-5 mb-lg-2">Duis aute irure dolor in reprehenderit in voluptate
                                    velit esse cillum dolore eu fugiat nulla pariatur Excepteur sint occaecat .
                                </p>
                            </div>
                            <div class="col-lg-2 col-sm-6 col-md-4 active reveal revealleft">
                                <h6>Навигация</h6>
                                <ul class="list-unstyled mb-5 mb-lg-0">
                                    <li><a href="#">Главная</a></li>
                                    <li><a href="#">Курсы</a></li>
                                    <li><a href="form-elements.html">Блог</a></li>
                                    <li><a href="charts.html">Магазин</a></li>
                                    <li><a href="datatable.html">Tables</a></li>
                                    <li><a href="file-attachments.html">Other Pages</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-2 col-sm-6 col-md-4 active reveal revealleft">
                                <h6>Прочее</h6>
                                <ul class="list-unstyled mb-5 mb-lg-0">
                                    <li><a href="about.html">О нас</a></li>
                                    <li><a href="about.html">Связаться</a></li>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="services.html">Services</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="terms.html">Terms and Services</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-4 col-sm-12 col-md-4 active reveal revealleft">
                                <div class="">
                                    <a href="#"><img loading="lazy" alt="" class="logo-2 mb-3"
                                            src="{% static 'images/fav/favicon-32x32.png' %}"></a>
                                    <a href="#"><img src="{% static 'images/fav/favicon-32x32.png' %}"
                                            class="logo-3" alt="logo"></a>
                                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                        dolore eu fugiat nulla pariatur Excepteur sint occaecat.</p>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" class="form-control"
                                                placeholder="Enter your email"
                                                aria-label="Example text with button addon"
                                                aria-describedby="button-addon1">
                                            <button class="btn btn-primary" type="button"
                                                id="button-addon2">Submit</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-list mt-6">
                                    <button type="button" class="btn btn-icon rounded-pill"><i
                                            class="fa fa-telegram"></i></button>
                                    <button type="button" class="btn btn-icon rounded-pill"><i
                                            class="fa fa-whatsapp"></i></button>
                                    <button type="button" class="btn btn-icon rounded-pill"><i
                                            class="fa fa-linkedin"></i></button>
                                    <button type="button" class="btn btn-icon rounded-pill"><i
                                            class="fa fa-github"></i></button>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                    <footer class="main-footer px-0 pb-0 text-center">
                        <div class="row ">
                          <div class="col-md-12 col-sm-12 text-center">
                            Copyright © <span id="year"></span> <a href="javascript:void(0)">Read More</a>. Develop with <span class="fa fa-heart text-danger"></span> by <a href="javascript:void(0)"> EvgVol. </a> All rights reserved.
                          </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>