{% load static %}
{% load thumbnail %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
<div class="hor-header header sticky fixed-header visible-title">
  <div class="main-container container">
    <div class="d-flex">
      <!-- sidebar-toggle-->
      <a
        aria-label="Hide Sidebar"
        class="app-sidebar__toggle"
        data-bs-toggle="sidebar"
        href="javascript:void(0)"
      ></a>

      <!-- LOGO -->
      <a class="logo-horizontal" href="{% url 'blog:post_list' %}">
        <img
          src="{% static 'images/fav/favicon-32x32.png' %}"
          class="header-brand-img desktop-logo"
          alt="logo"
        />
        <img
          src="{% static 'images/fav/favicon-32x32.png' %}"
          class="header-brand-img light-logo1"
          alt="logo"
        />
      </a>

      <!-- SEARCH -->
      <form
        class="main-header-center ms-3 d-none d-lg-block"
        action="{% url 'blog:post_search' %}"
        method="get"
      >
        <input
          type="text"
          name="query"
          class="form-control"
          id="typehead"
          placeholder="Найти на сайте..."
          autocomplete="off"
        />
        <button class="btn px-0 pt-2">
          <i class="fe fe-search" aria-hidden="true"></i>
        </button>
      </form>
      <div class="d-flex country">
        <a class="nav-link icon text-center" data-bs-target="#country-selector"
            data-bs-toggle="modal">
            <span class="country-selector">
              {% for lang_code, lang_name in LANGUAGES %}
                {% if lang_code == LANGUAGE_CODE %}
                    <img src="{% static 'images/flags/'|add:lang_code|add:'.svg' %}" alt="{{ lang_name }}">
                {% endif %}
              {% endfor %}
            </span>
        </a>
      </div>
      {% include 'includes/country_selector_modal.html' %}
      <div class="d-flex order-lg-2 ms-auto header-right-icons">
        
        <button
          class="navbar-toggler navresponsive-toggler d-lg-none ms-auto"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent-4"
          aria-controls="navbarSupportedContent-4"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon fe fe-more-vertical"></span>
        </button>
        <div class="navbar navbar-collapse responsive-navbar p-0">
          <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
            <div class="d-flex order-lg-2">
              {% if request.user.is_authenticated %}
              <div class="dropdown d-lg-none d-flex">
                <a
                  href="javascript:void(0)"
                  class="nav-link icon"
                  data-bs-toggle="dropdown"
                >
                  <i class="fe fe-search"></i>
                </a>
                
                <div class="dropdown-menu header-search dropdown-menu-start">
                  
                  <div class="input-group w-100 p-2">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Search...."
                    />
                    <div class="input-group-text btn btn-primary">
                      <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                    
                  </div>
                  
                </div>
                
              </div>
              
              <div class="dropdown d-flex">
                <a
                  href="javascript:{% include "bookmarklet_launcher.js" %}"
                  class="nav-link icon button"
                >
                  <i class="fe fe-crosshair"></i>
                </a>
              </div>

              <!-- CART -->
              <div class="dropdown d-flex shopping-cart">
                <a class="nav-link icon text-center" data-bs-toggle="dropdown">
                  <i class="fe fe-shopping-cart"></i
                  ><span class="badge bg-secondary header-badge">{{ cart.get_unique_products }}</span>
                </a>
                <div
                  class="dropdown-menu dropdown-menu-end dropdown-menu-arrow"
                >
                  <div class="drop-heading border-bottom">
                    <div class="d-flex">
                      <h6 class="mt-1 mb-0 fs-16 fw-semibold text-dark">
                        Корзина
                      </h6>
                      <div class="ms-auto">
                        <a
                          href="{% url 'cart:cart_detail' %}"
                          class="badge bg-info-transparent header-badge fs-14"
                          >Подробнее <i class="fa fa-arrow-right ms-1"></i></a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="header-dropdown-list message-menu">
                    {% for item in cart %}
                      {% with product=item.product %}
                      <div class="dropdown-item d-flex p-4">
                        <a href="{{ product.get_absolute_url }}" class="open-file"></a>
                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "images/nophoto.png" %}{% endif %}" alt="" class="avatar avatar-xl br-5 me-3 align-self-center cover-image" />
                        <div class="wd-50p">
                          <h5 class="mb-1">{{ product.name }}</h5>
                          {% with product.available as status %}
                          <span
                            >Статус:
                            <span class="text-success">{% if status %}В наличии {% else %} Нет в наличии{% endif %}</span></span
                          >
                          {% endwith %}
                          <p class="fs-13 text-muted mb-0">Количество: {{ item.quantity }}</p>
                        </div>
                        <div class="ms-auto text-end d-flex fs-16">
                          {% if cart.coupon %}
                          <span class="fs-16 d-none d-sm-block px-4">
                            <p class="text-danger text-decoration-line-through">{{ product.price|floatformat:0 }} ₽</p><p class="text-success">- {{ cart.coupon.discount }}%</p>
                          </span>
                          {% else %}
                          <span class="fs-16 text-dark d-none d-sm-block px-4">
                            {{ product.price }}
                          </span>
                          {% endif %}
                        </div>
                      </div>
                      {% endwith %}
                    {% endfor %}
                  </div>
                  <div class="dropdown-divider m-0"></div>
                  <div class="dropdown-footer">
                    <a
                      class="btn btn-primary btn-pill w-sm btn-sm py-2"
                      href="checkout.html"
                      ><i class="fe fe-check-circle"></i> Заказать</a
                    >
                    <span class="float-end p-2 fs-17 fw-semibold"
                      >Итого: {{ cart.get_total_price_after_discount|floatformat:0 }} ₽</span
                    >
                  </div>
                </div>
              </div>
              
              <!-- FULL-SCREEN -->
              <div class="dropdown d-flex">
                <a class="nav-link icon full-screen-link nav-link-bg">
                  <i class="fe fe-move fullscreen-button"></i>
                </a>
              </div>
              
              <!-- NOTIFICATIONS -->
              <div class="dropdown d-flex notifications">
                <a class="nav-link icon" data-bs-toggle="dropdown"
                  ><i class="fe fe-bell"></i><span class="pulse"></span>
                </a>
                <div
                  class="dropdown-menu dropdown-menu-end dropdown-menu-arrow"
                >
                  <div class="drop-heading border-bottom">
                    <div class="d-flex">
                      <h6 class="mt-1 mb-0 fs-16 fw-semibold text-dark">
                        Notifications
                      </h6>
                    </div>
                  </div>
                  <div class="notifications-menu">
                    <a class="dropdown-item d-flex" href="notify-list.html">
                      <div
                        class="me-3 notifyimg bg-primary brround box-shadow-primary"
                      >
                        <i class="fe fe-mail"></i>
                      </div>
                      <div class="mt-1 wd-80p">
                        <h5 class="notification-label mb-1">
                          New Application received
                        </h5>
                        <span class="notification-subtext">3 days ago</span>
                      </div>
                    </a>
                    <a class="dropdown-item d-flex" href="notify-list.html">
                      <div
                        class="me-3 notifyimg bg-secondary brround box-shadow-secondary"
                      >
                        <i class="fe fe-check-circle"></i>
                      </div>
                      <div class="mt-1 wd-80p">
                        <h5 class="notification-label mb-1">
                          Project has been approved
                        </h5>
                        <span class="notification-subtext">2 hours ago</span>
                      </div>
                    </a>
                    <a class="dropdown-item d-flex" href="notify-list.html">
                      <div
                        class="me-3 notifyimg bg-success brround box-shadow-success"
                      >
                        <i class="fe fe-shopping-cart"></i>
                      </div>
                      <div class="mt-1 wd-80p">
                        <h5 class="notification-label mb-1">
                          Your Product Delivered
                        </h5>
                        <span class="notification-subtext">30 min ago</span>
                      </div>
                    </a>
                    <a class="dropdown-item d-flex" href="notify-list.html">
                      <div
                        class="me-3 notifyimg bg-pink brround box-shadow-pink"
                      >
                        <i class="fe fe-user-plus"></i>
                      </div>
                      <div class="mt-1 wd-80p">
                        <h5 class="notification-label mb-1">Friend Requests</h5>
                        <span class="notification-subtext">1 day ago</span>
                      </div>
                    </a>
                  </div>
                  <div class="dropdown-divider m-0"></div>
                  <a
                    href="notify-list.html"
                    class="dropdown-item text-center p-3 text-muted"
                    >View all Notification</a
                  >
                </div>
              </div>

              <!-- MESSAGE-BOX -->
              <div class="dropdown d-flex message">
                <a class="nav-link icon text-center" data-bs-toggle="dropdown">
                  <i class="fe fe-message-square"></i
                  ><span class="pulse-danger"></span>
                </a>
                <div
                  class="dropdown-menu dropdown-menu-end dropdown-menu-arrow"
                >
                  <div class="drop-heading border-bottom">
                    <div class="d-flex">
                      <h6 class="mt-1 mb-0 fs-16 fw-semibold text-dark">
                        You have 5 Messages
                      </h6>
                      <div class="ms-auto">
                        <a
                          href="javascript:void(0)"
                          class="text-muted p-0 fs-12"
                          >make all unread</a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="message-menu message-menu-scroll">
                    <a class="dropdown-item d-flex" href="chat.html">
                      <span
                        class="avatar avatar-md brround me-3 align-self-center cover-image"
                        data-bs-image-src="{% static 'images/users/1.jpg' %}"
                      ></span>
                      <div class="wd-90p">
                        <div class="d-flex">
                          <h5 class="mb-1">Peter Theil</h5>
                          <small class="text-muted ms-auto text-end">
                            6:45 am
                          </small>
                        </div>
                        <span>Commented on file Guest list....</span>
                      </div>
                    </a>
                    <a class="dropdown-item d-flex" href="chat.html">
                      <span
                        class="avatar avatar-md brround me-3 align-self-center cover-image"
                        data-bs-image-src="{% static 'images/users/15.jpg' %}"
                      ></span>
                      <div class="wd-90p">
                        <div class="d-flex">
                          <h5 class="mb-1">Abagael Luth</h5>
                          <small class="text-muted ms-auto text-end">
                            10:35 am
                          </small>
                        </div>
                        <span>New Meetup Started......</span>
                      </div>
                    </a>
                    <a class="dropdown-item d-flex" href="chat.html">
                      <span
                        class="avatar avatar-md brround me-3 align-self-center cover-image"
                        data-bs-image-src="{% static 'images/users/12.jpg' %}"
                      ></span>
                      <div class="wd-90p">
                        <div class="d-flex">
                          <h5 class="mb-1">Brizid Dawson</h5>
                          <small class="text-muted ms-auto text-end">
                            2:17 pm
                          </small>
                        </div>
                        <span>Brizid is in the Warehouse...</span>
                      </div>
                    </a>
                    <a class="dropdown-item d-flex" href="chat.html">
                      <span
                        class="avatar avatar-md brround me-3 align-self-center cover-image"
                        data-bs-image-src="{% static 'images/users/4.jpg' %}"
                      ></span>
                      <div class="wd-90p">
                        <div class="d-flex">
                          <h5 class="mb-1">Shannon Shaw</h5>
                          <small class="text-muted ms-auto text-end">
                            7:55 pm
                          </small>
                        </div>
                        <span>New Product Realease......</span>
                      </div>
                    </a>
                    <a class="dropdown-item d-flex" href="chat.html">
                      <span
                        class="avatar avatar-md brround me-3 align-self-center cover-image"
                        data-bs-image-src="{% static 'images/users/3.jpg' %}"
                      ></span>
                      <div class="wd-90p">
                        <div class="d-flex">
                          <h5 class="mb-1">Cherry Blossom</h5>
                          <small class="text-muted ms-auto text-end">
                            7:55 pm
                          </small>
                        </div>
                        <span>You have appointment on......</span>
                      </div>
                    </a>
                  </div>
                  <div class="dropdown-divider m-0"></div>
                  <a
                    href="javascript:void(0)"
                    class="dropdown-item text-center p-3 text-muted"
                    >See all Messages</a
                  >
                </div>
              </div>
              
              <!-- STYLE-MENU -->
              <div class="d-flex country">
                <a
                  class="nav-link icon theme-layout nav-link-bg layout-setting"
                >
                  <span class="dark-layout"><i class="fe fe-moon"></i></span>
                  <span class="light-layout"><i class="fe fe-sun"></i></span>
                </a>
              </div>

              <!-- PROFILE -->
              <div class="dropdown d-flex profile-1">

                <a
                  href="javascript:void(0)"
                  data-bs-toggle="dropdown"
                  class="nav-link leading-none d-flex"
                >
                {% if request.user.avatar %}
                  {% thumbnail request.user.avatar "216x226" crop="center" upscale=True as im %}
                  <img class="avatar profile-user brround cover-image" src="{{ im.url }}" />
                  {% endthumbnail %}
                {% else %}
                  <img
                    class="avatar profile-user brround cover-image"
                    src="{% static 'images/users/default-user.jpeg' %}"
                    alt="Аватар"
                  />
                {% endif %}
                </a>
                <div
                  class="dropdown-menu dropdown-menu-end dropdown-menu-arrow"
                >
                  <div class="drop-heading">
                    <div class="text-center">
                      <h5 class="text-dark mb-0 fs-14 fw-semibold">
                        {{ request.user.get_full_name }}
                      </h5>
                      <small class="text-muted">{{ request.user.username }}</small>
                    </div>
                  </div>
                  <div class="dropdown-divider m-0"></div>
                  <a
                    class="dropdown-item"
                    href="{{ user.get_absolute_url }}"
                  >
                    <i class="dropdown-icon fe fe-user"></i> {% trans "Profile" %}
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="dropdown-icon fe fe-mail"></i> {% trans "E-mail" %}
                    <span class="badge bg-danger rounded-pill float-end"
                      >5</span
                    >
                  </a>
                  {% if request.user.is_staff %}
                  <a class="dropdown-item" href="{% url 'admin:index' %}">
                    <i class="dropdown-icon fe fe-cpu"></i> {% trans "Admin zone" %}
                  </a>
                  <a class="dropdown-item" href="{% url 'rosetta-file-list-redirect' %}">
                    <i class="dropdown-icon fa fa-language"></i> {% trans "Translator" %}
                  </a>
                  <a class="dropdown-item" href="{% url 'core:dashboard' %}">
                    <i class="dropdown-icon fa fa-area-chart"></i> {% trans "Dashboard" %}
                  </a>
                  {% endif %}
                  <a class="dropdown-item" href="{% url 'core:setting' %}">
                    <i class="dropdown-icon fe fe-settings"></i> {% trans "Settings" %}
                  </a>
                  <a
                    class="dropdown-item"
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#modalLogOut"
                  >
                    <i class="dropdown-icon fe fe-alert-circle"></i> {% trans "Log Out" %}
                  </a>
                </div>
              </div>
              {% else %}
              <div class="header-nav-right d-none d-lg-flex">
                <a
                  href="{% url 'signup' %}"
                  class="btn ripple btn-min w-sm btn-outline-dark me-2 my-auto d-lg-none d-xl-block d-block"
                  target="_blank"
                  >Зарегистрироваться
                </a>
                <a
                  href="{% url 'login' %}"
                  class="btn ripple btn-min w-sm btn-dark me-2 my-auto d-lg-none d-xl-block d-block"
                  target="_blank"
                  >ВОЙТИ
                </a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'includes/exit_confirmation.html' %}
