{% load static %}
{% load thumbnail %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
<div class="sticky">
  <div class="app-sidebar ps ps--active-y sidemenu-scroll horizontal-main">
    <div class="main-sidemenu navbar px-0">
      <div class="d-flex justify-content-between px-0 navbar">
        <div class="d-flex">
            <a class="navbar-brand d-none d-lg-block px-0" href="{% url 'courses:subject_list' %}">
                <img alt="" class="logo-2" src="{% static 'images/fav/favicon-32x32.png' %}">
                <img src="{% static 'images/fav/favicon-32x32.png' %}" class="logo-3" alt="logo">
            </a>
            <form class="d-none d-lg-flex align-items-center px-1 ms-3"
                  action="{% url 'blog:post_search' %}"
                  method="get">
                <input
                        type="text"
                        name="query"
                        class="form-control"
                        id="typehead"
                        placeholder="Найти на сайте..."
                        autocomplete="off"/>
                </button>
            </form>
            <a class="nav-link icon text-center" data-bs-target="#country-selector" data-bs-toggle="modal">
              <span class="country-selector">
                {% for lang_code, lang_name in LANGUAGES %}
                  {% if lang_code == LANGUAGE_CODE %}
                      <img src="{% static 'images/flags/'|add:lang_code|add:'.svg' %}" alt="{{ lang_name }}">
                  {% endif %}
                {% endfor %}
              </span>
            </a>
        </div>
            

      </div>
      {% if request.user.is_authenticated %}
        <div class="header-nav-right d-none d-lg-flex align-items-center">
            <a href="{{ user.get_absolute_url }}"
               class="btn ripple btn-min w-sm btn-dark me-2 my-auto d-lg-none d-xl-block d-block"
               target="_blank"
            >В профиль
            </a>
            <a
              class="dropdown-item"
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#modalLogOut"
            >
              {% trans "Log Out" %}
            </a>
        </div>
        {% else %}
        <div class="header-nav-right d-none d-lg-flex align-items-center">
            <a href="{% url 'signup' %}"
               class="btn ripple btn-min w-sm btn-outline-dark me-2 my-auto d-lg-none d-xl-block d-block"
               target="_blank"
            >Зарегистрироваться
            </a>
            <a href="{% url 'login' %}"
               class="btn ripple btn-min w-sm btn-dark me-2 my-auto d-lg-none d-xl-block d-block"
               target="_blank"
            >ВОЙТИ
            </a>
        </div>
        {% endif %}
    </div>
  </div>
  {% include 'includes/country_selector_modal.html' %}
  {% include 'includes/exit_confirmation.html' %}