name: READ MORE workflow

on:
  push:
    branches:
      - main

jobs:

  build_and_push_to_docker_hub:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push website
        uses: docker/build-push-action@v2
        with:
          context: ./website
          push: true
          tags: evol93/readmore_hub:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build_and_push_to_docker_hub
    if: github.ref == 'refs/heads/main'
    steps:
      - name: executing remote ssh commands to deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.SSH_KEY }}
          passphrase: ${{ secrets.PASSPHRASE }}
          script: |

            sudo rm .env
            sudo touch .env
            sudo chmod 666 .env

            sudo echo SECRET_KEY=${{ secrets.SECRET_KEY }} >> .env
            sudo echo DEBUG=${{ secrets.DEBUG }} >> .env
            sudo echo ALLOWED_HOSTS=${{ secrets.ALLOWED_HOSTS }} >> .env
            sudo echo EMAIL_HOST_USER=${{ secrets.EMAIL_HOST_USER }} >> .env
            sudo echo EMAIL_ADMIN=${{ secrets.EMAIL_ADMIN }} >> .env
            sudo echo EMAIL_HOST_PASSWORD=${{ secrets.EMAIL_HOST_PASSWORD }} >> .env
            sudo echo DB_ENGINE=${{ secrets.DB_ENGINE }} >> .env
            sudo echo DB_NAME=${{ secrets.DB_NAME }} >> .env
            sudo echo POSTGRES_USER=${{ secrets.POSTGRES_USER }} >> .env
            sudo echo POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }} >> .env
            sudo echo DB_HOST=${{ secrets.DB_HOST }} >> .env
            sudo echo DB_PORT=${{ secrets.DB_PORT }} >> .env
            sudo echo REDIS_HOST=${{ secrets.REDIS_HOST }} >> .env
            sudo echo REDIS_PORT=${{ secrets.REDIS_PORT }} >> .env
            sudo echo YANDEX_KEY=${{ secrets.YANDEX_KEY }} >> .env
            sudo echo YANDEX_SECRET=${{ secrets.YANDEX_SECRET }} >> .env
            sudo echo GOOGLE_KEY=${{ secrets.GOOGLE_KEY }} >> .env
            sudo echo GOOGLE_SECRET=${{ secrets.GOOGLE_SECRET }} >> .env
            sudo echo VK_KEY=${{ secrets.VK_KEY }} >> .env
            sudo echo VK_SECRET=${{ secrets.VK_SECRET }} >> .env
            sudo echo GITHUB_KEY=${{ secrets.GITHUB_KEY }} >> .env
            sudo echo GITHUB_SECRET=${{ secrets.GITHUB_SECRET }} >> .env
            sudo echo CACHE_BACKEND=${{ secrets.CACHE_BACKEND }} >> .env
            sudo echo CACHE_LOCATION=${{ secrets.CACHE_LOCATION }} >> .env
            sudo echo TELEGRAM_TOKEN=${{ secrets.TELEGRAM_TOKEN }} >> .env
            sudo echo TELEGRAM_CHAT_ID=${{ secrets.TELEGRAM_CHAT_ID }} >> .env

            sudo docker pull evol93/readmore_hub:latest
            sudo docker-compose stop
            sudo docker-compose rm backend
            sudo docker-compose up -d --build
